force-app/main/default/flows/Applicant_Autolaunch_Applicant_Process_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_New_Hire_Onboarding_Wizard_Email</name>
        <label>Send New Hire Onboarding Wizard Email</label>
        <locationX>3922</locationX>
        <locationY>1607</locationY>
        <actionName>Contact.New_Hire_Onboarding_Wizard</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Applicant_Task_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Contact__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Content_Link_Already_Exists</name>
        <label>Content Link Already Exists?</label>
        <locationX>4010</locationX>
        <locationY>2663</locationY>
        <defaultConnector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Content_Link_Already_Exists_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Document_Link_Lookup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Content_Document_Link_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Demo_Setup_Record_Found</name>
        <label>Demo Setup Record Found?</label>
        <locationX>3350</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Demo_Setup_Record_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Demo_Setup_Record.Applicant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Applicant_Tasks</name>
        <label>Found Applicant Tasks?</label>
        <locationX>3922</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Get_Content_Document_Link_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Applicant_Tasks_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_Task_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Applicant_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Content_Document_Links</name>
        <label>Found Content Document Links?</label>
        <locationX>3922</locationX>
        <locationY>2303</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Content_Document_Links_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Document_Link_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Content_Document_Link_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Interviews</name>
        <label>Found Interviews?</label>
        <locationX>974</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Create_Generic_Interview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Interviews_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Interviews</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Interviews</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Open_Interview_Processes</name>
        <label>Found Open Interview Processes?</label>
        <locationX>1062</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Interview_Process_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Open_Interview_Processes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Interview_Questions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Interview_Processes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Records_Found_Background_Stage</name>
        <label>Task Records Found</label>
        <locationX>974</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Get_Interviews</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Task_Records_Found_Background_Stage_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Existing_Tasks_Backround_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Records_Found_Drug_Test_Stage</name>
        <label>Task Records Found</label>
        <locationX>2822</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Create_Schedule_Drug_Test_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Task_Records_Found_Drug_Test_Stage_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Existing_Tasks_Drug_Test_Phase</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Records_Found_Fitness_Test_Stage</name>
        <label>Task Records Found</label>
        <locationX>1942</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Create_Schedule_Fitness_Test_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Task_Records_Found_Fitness_Test_Stage_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Existing_Tasks_Fitness_Tests_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Records_Found_Interview_Stage</name>
        <label>Task Records Found</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Create_Schedule_Interviews_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Task_Records_Found_Interview_Stage_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Existing_Tasks_Interview_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Records_Found_Medical_Exam_Stage</name>
        <label>Task Records Found</label>
        <locationX>1502</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Create_Schedule_Medical_Exam_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Task_Records_Found_Medical_Exam_Stage_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Existing_Tasks_Medical_Exam</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Records_Found_New_Employee_Stage</name>
        <label>Task Records Found</label>
        <locationX>3922</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Send_New_Hire_Onboarding_Wizard_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Task_Records_Found_New_Employee_Stage_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Records_Found_Offer_Extended_Stage</name>
        <label>Task Records Found</label>
        <locationX>3262</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Create_Generate_Job_Offer_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Task_Records_Found_Offer_Extended_Stage_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Existing_Tasks_Offer_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Records_Found_Polygraph_Exam_Stage</name>
        <label>Task Records Found</label>
        <locationX>2382</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Create_Schedule_Polygraph_Exam_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Task_Records_Found_Polygraph_Exam_Stage_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Existing_Tasks_Polygraph_Exam_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Stage_is_the_Opportunity_In</name>
        <label>What Stage is the Opportunity In?</label>
        <locationX>2206</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Now_In_Interview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interview</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Interview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Records_Found_Interview_Stage</targetReference>
            </connector>
            <label>Now In Interview</label>
        </rules>
        <rules>
            <name>In_Background_Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Background Investigation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Background Investigation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Records_Found_Background_Stage</targetReference>
            </connector>
            <label>In Background Investigation</label>
        </rules>
        <rules>
            <name>Now_In_Medical_Exam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Exam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Medical Exam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Records_Found_Medical_Exam_Stage</targetReference>
            </connector>
            <label>Now In Medical Exam</label>
        </rules>
        <rules>
            <name>Now_In_Fitness_Tests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fitness Tests</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fitness Tests</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Records_Found_Fitness_Test_Stage</targetReference>
            </connector>
            <label>Now In Fitness Tests</label>
        </rules>
        <rules>
            <name>Now_In_Polygraph_Exam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Polygraph Exam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Polygraph Exam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Records_Found_Polygraph_Exam_Stage</targetReference>
            </connector>
            <label>Now In Polygraph Exam</label>
        </rules>
        <rules>
            <name>Now_in_Drug_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drug Test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Drug Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Records_Found_Drug_Test_Stage</targetReference>
            </connector>
            <label>Now in Drug Test</label>
        </rules>
        <rules>
            <name>Is_Extended_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer Extended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Offer Extended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Records_Found_Offer_Extended_Stage</targetReference>
            </connector>
            <label>Is Extended Offer</label>
        </rules>
        <rules>
            <name>Is_New_Employee_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Position</targetReference>
            </connector>
            <label>Is New Employee (Closed)</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaDateThreeDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <name>formulaDateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Applicant Autolaunch - Applicant Process (After Save) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Applicant Autolaunch - Applicant Process (After Save)</label>
    <loops>
        <name>Content_Document_Link_Loop</name>
        <label>Content Document Link Loop</label>
        <locationX>3834</locationX>
        <locationY>2423</locationY>
        <collectionReference>Get_Content_Document_Link_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Document_Link_Lookup</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Interview_Process_Loop</name>
        <label>Interview Process Loop</label>
        <locationX>842</locationX>
        <locationY>1487</locationY>
        <collectionReference>Get_Interviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Interview_Questions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Initiate_Background_Investigation_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>4098</locationX>
        <locationY>2783</locationY>
        <connector>
            <targetReference>Content_Document_Link_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Content_Document_Link_Loop.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Get_Demo_Setup_Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <elementReference>Content_Document_Link_Loop.ShareType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <elementReference>Content_Document_Link_Loop.Visibility</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Generate_Job_Offer_Task</name>
        <label>Create Generate Job Offer Task</label>
        <locationX>3262</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formulaDateThreeDaysFromToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Generate and Extend Job Offer to Applicant for Position</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Generate and Extend Job Offer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suitability_Task__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Applicant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Generic_Interview</name>
        <label>Create Generic Interview</label>
        <locationX>1106</locationX>
        <locationY>1367</locationY>
        <assignRecordIdToReference>varNewInterviewRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_New_Interview_Interview_Processes</targetReference>
        </connector>
        <inputAssignments>
            <field>Applicantion__c</field>
            <value>
                <elementReference>Get_Demo_Setup_Record.Applicant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interviewer__c</field>
            <value>
                <elementReference>Get_Demo_Setup_Record.Job_Opening__r.Hiring_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Date__c</field>
            <value>
                <elementReference>formulaDateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Check__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Initiate_Background_Investigation_Task</name>
        <label>Create Initiate Background Investigation Task</label>
        <locationX>974</locationX>
        <locationY>2255</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formulaDateThreeDaysFromToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Start process for background investigation on applicant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Initiate Background Investigation Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suitability_Task__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Applicant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Schedule_Drug_Test_Task</name>
        <label>Create Schedule Drug Test Task</label>
        <locationX>2822</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formulaDateThreeDaysFromToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Schedule Drug Test for Applicant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Schedule Drug Test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suitability_Task__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Applicant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Schedule_Fitness_Test_Task</name>
        <label>Create Schedule Fitness Test Task</label>
        <locationX>1942</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formulaDateThreeDaysFromToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Schedule Fitness Test for Applicant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Schedule Fitness Test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suitability_Task__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Applicant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Schedule_Interviews_Task</name>
        <label>Create Schedule Interviews Task</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formulaDateThreeDaysFromToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Schedule Interviews with appropriate team members for applicant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hiring_Tasks__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Schedule Interviews</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Applicant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Schedule_Medical_Exam_Task</name>
        <label>Create Schedule Medical Exam Task</label>
        <locationX>1502</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formulaDateThreeDaysFromToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Schedule Medical Exam with Applicant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Schedule Medical Exam</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suitability_Task__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Applicant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Schedule_Polygraph_Exam_Task</name>
        <label>Create Schedule Polygraph Exam Task</label>
        <locationX>2382</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formulaDateThreeDaysFromToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Schedule Polygraph Exam for Applicant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Schedule Polygraph Exam</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suitability_Task__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Applicant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Document_Link_Lookup</name>
        <label>Document Link Lookup</label>
        <locationX>4010</locationX>
        <locationY>2543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Link_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup_Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Content_Document_Link_Loop.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Task_Records</name>
        <label>Get Applicant Task Records</label>
        <locationX>3922</locationX>
        <locationY>1727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Applicant_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Link_Records</name>
        <label>Get Content Document Link Records</label>
        <locationX>3922</locationX>
        <locationY>2183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Content_Document_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Setup_Record</name>
        <label>Get Demo Setup Record</label>
        <locationX>3350</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Demo_Setup_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demo_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Contact_Record_Type</name>
        <label>Get Employee Contact Record Type</label>
        <locationX>3922</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Employee_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Interview_Questions</name>
        <label>Get Interview Questions</label>
        <locationX>1062</locationX>
        <locationY>1607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Open_Interview_Processes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Interview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Interview_Process_Loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Interview_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Interviews</name>
        <label>Get Interviews</label>
        <locationX>974</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Interviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Applicantion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup_Record.Applicant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Tasks</name>
        <label>Get Open Tasks</label>
        <locationX>2206</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Stage_is_the_Opportunity_In</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Position</name>
        <label>Get Position</label>
        <locationX>3922</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_Contact_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job_Opening__r.Position__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Existing_Tasks_Backround_Stage</name>
        <label>Close Existing Tasks</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Get_Interviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Existing_Tasks_Drug_Test_Phase</name>
        <label>Close Existing Tasks</label>
        <locationX>2690</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Create_Schedule_Drug_Test_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Existing_Tasks_Fitness_Tests_Stage</name>
        <label>Close Existing Tasks</label>
        <locationX>1810</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Create_Schedule_Fitness_Test_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Existing_Tasks_Interview_Stage</name>
        <label>Close Existing Tasks</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Create_Schedule_Interviews_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Existing_Tasks_Medical_Exam</name>
        <label>Close Existing Tasks</label>
        <locationX>1370</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Create_Schedule_Medical_Exam_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Existing_Tasks_Offer_Stage</name>
        <label>Close Existing Tasks</label>
        <locationX>3130</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Create_Generate_Job_Offer_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Existing_Tasks_Polygraph_Exam_Stage</name>
        <label>Close Existing Tasks</label>
        <locationX>2250</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Create_Schedule_Polygraph_Exam_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Applicant_Tasks</name>
        <label>Update Applicant Tasks</label>
        <locationX>3790</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Get_Content_Document_Link_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Demo_Setup_Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Employee_Contact</name>
        <label>Update Employee Contact</label>
        <locationX>3922</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Update_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Basic_Pay__c</field>
            <value>
                <elementReference>Get_Position.Basic_Pay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Workforce_Manager__c</field>
            <value>
                <elementReference>Get_Demo_Setup_Record.Workforce_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disability__c</field>
            <value>
                <elementReference>Get_Demo_Setup_Record.Disability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duty_Station__c</field>
            <value>
                <elementReference>Get_Demo_Setup_Record.Duty_Station__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_ID__c</field>
            <value>
                <elementReference>Get_Demo_Setup_Record.Employee_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <stringValue>New-Hire</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grade_or_Level__c</field>
            <value>
                <elementReference>Get_Position.Grade_or_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Get_Demo_Setup_Record.Recruit_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>Get_Demo_Setup_Record.Marital_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Get_Demo_Setup_Record.Recruit_MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Telephone_Provider__c</field>
            <value>
                <elementReference>Get_Demo_Setup_Record.Mobile_Telephone_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_of_Birth__c</field>
            <value>
                <elementReference>Get_Demo_Setup_Record.Recruit_Place_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position_Current__c</field>
            <value>
                <elementReference>Get_Position.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Employee_Contact_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportsToId</field>
            <value>
                <elementReference>Get_Demo_Setup_Record.Supervisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSN__c</field>
            <value>
                <stringValue>123456789</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Security_Level__c</field>
            <value>
                <elementReference>Get_Position.Security_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Step_or_Rate__c</field>
            <value>
                <elementReference>Get_Position.Step_or_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suitability_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Get_Position.Position_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Schedule__c</field>
            <value>
                <elementReference>Get_Position.Work_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Interview_Processes</name>
        <label>Update Interview Processes</label>
        <locationX>930</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Interview_Process_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Interview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Interview_Process_Loop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Raiting__c</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Interview_Process__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Interviews</name>
        <label>Update Interviews</label>
        <locationX>842</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Interview_Process_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Applicantion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup_Record.Applicant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Check__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Interview_Interview_Processes</name>
        <label>Update New Interview Interview Processes</label>
        <locationX>1106</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Create_Initiate_Background_Investigation_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Interview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewInterviewRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Raiting__c</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Interview_Process__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tasks</name>
        <label>Update Tasks</label>
        <locationX>3790</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Send_New_Hire_Onboarding_Wizard_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>3922</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Task_Records_Found_New_Employee_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicant__r.User_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <stringValue>New-Hire</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>3224</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Demo_Setup_Record</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varNewInterviewRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecApplicantTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varRecApplicantTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varRecEmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>varRecEmailMessages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
