force-app/main/default/flows/Applicant_Autolaunch_Applicant_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Update_Background_Investigation_Process_Time</name>
        <label>Update Background Investigation Process Time</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Background_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDateToday</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Drug_Test_Process_Time</name>
        <label>Update Drug Test Process Time</label>
        <locationX>1370</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Drug_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDateToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Polygraph_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Extend_Offer_Process_Time</name>
        <label>Update Extend Offer Process Time</label>
        <locationX>1898</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Extend_Offer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDateToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Drug_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Fitness_Test_Process_Time</name>
        <label>Update Fitness Test Process Time</label>
        <locationX>842</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Fitness_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDateToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Medical_Exam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Interview_Process_Time</name>
        <label>Update Process Interview Time</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Interview__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDateToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Background_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fitness_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Medical_Exam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Drug_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Polygraph_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Offer_Extended_Process_Time</name>
        <label>Update Offer Extended Process Time</label>
        <locationX>1634</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Extend_Offer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDateToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Drug_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Polygraph_Exam_Process_Time</name>
        <label>Update Polygraph Exam Process Time</label>
        <locationX>1106</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Polygraph_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDateToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fitness_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Process_Medical_Exam_Time</name>
        <label>Update Process Medical Exam Time</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Medical_Exam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDateToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Background_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Demo_Setup_Record_Found</name>
        <label>Demo Setup Record Found?</label>
        <locationX>1766</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Demo_Setup_Record_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Stage_is_the_Opportunity_In</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Stage_is_the_Opportunity_In</name>
        <label>What Stage is the Opportunity In?</label>
        <locationX>1106</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Now_In_Interview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interview</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Interview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Interview_Process_Time</targetReference>
            </connector>
            <label>Now In Interview</label>
        </rules>
        <rules>
            <name>Now_In_Background_Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Background Investigation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Background Investigation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Background_Investigation_Process_Time</targetReference>
            </connector>
            <label>Now In Background Investigation</label>
        </rules>
        <rules>
            <name>Now_In_Medical_Exam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Exam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Medical Exam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Process_Medical_Exam_Time</targetReference>
            </connector>
            <label>Now In Medical Exam</label>
        </rules>
        <rules>
            <name>Now_In_Fitness_Tests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fitness Tests</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fitness Tests</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fitness_Test_Process_Time</targetReference>
            </connector>
            <label>Now In Fitness Tests</label>
        </rules>
        <rules>
            <name>Now_In_Polygraph_Exam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Polygraph Exam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Polygraph Exam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Polygraph_Exam_Process_Time</targetReference>
            </connector>
            <label>Now In Polygraph Exam</label>
        </rules>
        <rules>
            <name>Now_in_Drug_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drug Test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Drug Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Drug_Test_Process_Time</targetReference>
            </connector>
            <label>Now in Drug Test</label>
        </rules>
        <rules>
            <name>Now_in_Extend_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer Extended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Offer Extended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Offer_Extended_Process_Time</targetReference>
            </connector>
            <label>Now in Extend Offer</label>
        </rules>
        <rules>
            <name>Is_New_Employee_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Extend_Offer_Process_Time</targetReference>
            </connector>
            <label>Is New Employee (Closed)</label>
        </rules>
    </decisions>
    <description>Replaces the old Process Builder</description>
    <formulas>
        <name>formulaDateThreeDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <name>formulaDateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Applicant Autolaunch - Record U {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Applicant Autolaunch - Applicant Process (Before Save)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Demo_Setup_Record</name>
        <label>Get Demo Setup Record</label>
        <locationX>1766</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Demo_Setup_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demo_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Demo_Setup_Record</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
