force-app/main/default/flows/Contact_Autolaunch_Set_Employee_Photo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Could_not_Find_Asset_Email</name>
        <label>Send Could not Find Asset Email</label>
        <locationX>358</locationX>
        <locationY>1430</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Could Not Find Asset File. Please check the Title in the Demo Setup</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Autolaunch - Set Employee Photo Failed</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Contact_Record_Photo</name>
        <label>Set Contact Record Photo</label>
        <locationX>94</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Photo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFormulaPhotoText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Employee_Status_Decision</name>
        <label>Employee Status Decision</label>
        <locationX>226</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_Generic_Content_Document_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.Employment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Demo_Setup_Content_Document_Record</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Content_Asset</name>
        <label>Found Content Asset?</label>
        <locationX>226</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Send_Could_not_Find_Asset_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Content_Asset_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecContentAsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Record_Photo</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Demo_Setup_Record</name>
        <label>Found Demo Setup Record?</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Demo_Setup_Record_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Document</name>
        <label>Found Document?</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_Generic_Content_Document_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Document_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecContentDocument</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This Flow sets the employee photo. If the Employee is Inactive or in a &quot;New-Hire&quot; status, it uses the generic image. If it is Active, the flow attempts to find an Asset File (Content Document) that matches the supplied Demo Setup&apos;s Employee Photo Asset File Name.</description>
    <formulas>
        <name>varFormulaPhotoText</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;p&gt;&lt;img src=&quot;/file-asset-public/&apos; + {!varRecContentAsset.DeveloperName} + &apos;&quot; alt=&quot;&apos; + {!varRecContentDocument.Title} + &apos;&quot;&gt;&lt;/img&gt;&lt;/p&gt;&apos;</expression>
    </formulas>
    <interviewLabel>Contact Autolaunch - Set Employee Photo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Autolaunch - Set Employee Photo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employee_Status_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup_Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Asset</name>
        <label>Get Content Asset</label>
        <locationX>226</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Content_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecContentDocument.Id</elementReference>
            </value>
        </filters>
        <object>ContentAsset</object>
        <outputReference>varRecContentAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Setup_Content_Document_Record</name>
        <label>Get Demo Setup Content Document Record</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup_Record.Employee_Photo_Asset_File_Name__c</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputReference>varRecContentDocument</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>LatestPublishedVersionId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Setup_Record</name>
        <label>Get Demo Setup Record</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Demo_Setup_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demo_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Generic_Content_Document_Record</name>
        <label>Get Generic Content Document Record</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Generic Contact Profile Image</stringValue>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputReference>varRecContentDocument</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>LatestPublishedVersionId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Generic_Content_Document_Record_0</name>
        <label>Get Generic Content Document Record</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Generic Contact Profile Image</stringValue>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputReference>varRecContentDocument</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>LatestPublishedVersionId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>94</locationX>
        <locationY>1550</locationY>
        <inputReference>Get_Contact_Record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Demo_Setup_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecContentAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentAsset</objectType>
    </variables>
    <variables>
        <name>varRecContentDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
</Flow>
