force-app/main/default/flows/Contact_Autolaunch_Create_New_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Setup_New_Contact_Record</name>
        <label>Setup New Contact Record</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>newContactRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContactRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContactRecord.User_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContactRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContactRecord.Employment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContactRecord.New_Hire_Manager_Flow_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContactRecord.Workforce_Manager_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContactRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Contact_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Record_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Lookup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Setup_New_Contact_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to automatically create new Contact if one doesn&apos;t already exist.....</description>
    <interviewLabel>Contact Autolaunch - Create New Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Autolaunch - Create New Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Contact_Record</name>
        <label>Create New Contact Record</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>newContactRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Contact_Lookup</name>
        <label>Contact Lookup</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Record.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Record.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>User_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>newContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Workforce_Manager_Flag__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>User_Record__c</queriedFields>
        <queriedFields>Employment_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Record_Type</name>
        <label>Get Employee Record Type</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>User Record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
