force-app/main/default/flows/Demo_Reset_Autolaunch_New_Hire_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Loop_Index</name>
        <label>Set Loop Index</label>
        <locationX>270</locationX>
        <locationY>4670</locationY>
        <assignmentItems>
            <assignToReference>varNumCourseEnrollmentLoopNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Course_Sessions_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assets_Found_Decision</name>
        <label>Assets Found Decision</label>
        <locationX>182</locationX>
        <locationY>3062</locationY>
        <defaultConnector>
            <targetReference>Get_Performance_Plans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Assets_Found_Decision_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordAssets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Assets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cases_Found_Decision</name>
        <label>Cases Found Decision</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Get_Telework_Agreements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Cases_Found_Decision_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Cases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Position_and_Applicant_Found</name>
        <label>Contact, Position, and Applicant Found?</label>
        <locationX>336</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Contact_Position_and_Applicant_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Position</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Applicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Course_Enrollments_Found_Decision</name>
        <label>Course Enrollments Found Decision</label>
        <locationX>182</locationX>
        <locationY>3974</locationY>
        <defaultConnector>
            <targetReference>Get_Course_Sessions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Course_Enrollments_Found_Decision_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCourseEnrollments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Course_Enrollments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Events_Found_Decision</name>
        <label>Events Found Decision</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Get_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Events_Found_Decision_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordEvents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Events</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Demo_Setup_Record</name>
        <label>Found Demo Setup Record?</label>
        <locationX>545</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Demo_Setup_Record_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Performance_Plans_Found_Decision</name>
        <label>Performance Plans Found Decision</label>
        <locationX>182</locationX>
        <locationY>3518</locationY>
        <defaultConnector>
            <targetReference>Get_Course_Enrollments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Performance_Plans_Found_Decision_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordPerformancePlans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Performance_Plans</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tasks_Found_Decision</name>
        <label>Tasks Found Decision</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Get_Events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Tasks_Found_Decision_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Telework_Agreements_Found_Decision</name>
        <label>Telework Agreements Found Decision</label>
        <locationX>182</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>Get_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Telework_Agreements_Found_Decision_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTeleworkAgreements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Telework_Agreements</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Record_Id_Provided</name>
        <label>Was Record Id Provided?</label>
        <locationX>781</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Was_Record_Id_Provided_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Demo_Setup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Resets New Hire Onboarding Demo</description>
    <formulas>
        <name>varFormulaCourseDate</name>
        <dataType>Date</dataType>
        <expression>{!varFormulaNextMonday} + ({!varNumCourseEnrollmentLoopNumber} * 14)</expression>
    </formulas>
    <formulas>
        <name>varFormulaNextMonday</name>
        <dataType>Date</dataType>
        <expression>TODAY() + CASE( MOD(TODAY() - DATE(1900, 1, 7 ), 7 ), 0, 8, 1, 7,	2, 6, 3, 5, 4, 4, 5, 3, 6, 2, 0)</expression>
    </formulas>
    <interviewLabel>Demo Reset Autolaunch - New Hire Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Reset Autolaunch - New Hire Onboarding</label>
    <loops>
        <name>Course_Sessions_Loop</name>
        <label>Course Sessions Loop</label>
        <locationX>182</locationX>
        <locationY>4430</locationY>
        <collectionReference>Get_Course_Sessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Course_Session</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_User_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Assets</name>
        <label>Delete Assets</label>
        <locationX>50</locationX>
        <locationY>3182</locationY>
        <connector>
            <targetReference>Get_Performance_Plans</targetReference>
        </connector>
        <inputReference>varRecordAssets</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Cases</name>
        <label>Delete Cases</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Get_Telework_Agreements</targetReference>
        </connector>
        <inputReference>varRecordCases</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Course_Enrollments</name>
        <label>Delete Course Enrollments</label>
        <locationX>50</locationX>
        <locationY>4094</locationY>
        <connector>
            <targetReference>Get_Course_Sessions</targetReference>
        </connector>
        <inputReference>varRecordCourseEnrollments</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Events</name>
        <label>Delete Events</label>
        <locationX>50</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>Get_Assets</targetReference>
        </connector>
        <inputReference>varRecordEvents</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Performance_Plans</name>
        <label>Delete Performance Plans</label>
        <locationX>50</locationX>
        <locationY>3638</locationY>
        <connector>
            <targetReference>Get_Course_Enrollments</targetReference>
        </connector>
        <inputReference>varRecordPerformancePlans</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Tasks</name>
        <label>Delete Tasks</label>
        <locationX>50</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>Get_Events</targetReference>
        </connector>
        <inputReference>varRecordTasks</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Telework_Agreements</name>
        <label>Delete Telework Agreements</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
        <inputReference>varRecordTeleworkAgreements</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Applicant</name>
        <label>Get Applicant</label>
        <locationX>336</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup.Applicant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assets</name>
        <label>Get Assets</label>
        <locationX>182</locationX>
        <locationY>2942</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assets_Found_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>varRecordAssets</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cases_Found_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varRecordCases</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>336</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Position</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Course_Enrollments</name>
        <label>Get Course Enrollments</label>
        <locationX>182</locationX>
        <locationY>3854</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Course_Enrollments_Found_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <object>Course_Enrollment__c</object>
        <outputReference>varRecordCourseEnrollments</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Course_Sessions</name>
        <label>Get Course Sessions</label>
        <locationX>182</locationX>
        <locationY>4310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Course_Sessions_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Hire Orientation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Session__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Setup</name>
        <label>Get Demo Setup</label>
        <locationX>545</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Demo_Setup_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demo_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Events</name>
        <label>Get Events</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Events_Found_Decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.User_Record__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>varRecordEvents</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Performance_Plans</name>
        <label>Get Performance Plans</label>
        <locationX>182</locationX>
        <locationY>3398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Performance_Plans_Found_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <object>PM_Performance_Plan__c</object>
        <outputReference>varRecordPerformancePlans</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Position</name>
        <label>Get Position</label>
        <locationX>336</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Position_and_Applicant_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup.Job_Opening__r.Position__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tasks_Found_Decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.User_Record__c</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>varRecordTasks</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Telework_Agreements</name>
        <label>Get Telework Agreements</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Telework_Agreements_Found_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee_Contact_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <object>Telework_Agreement__c</object>
        <outputReference>varRecordTeleworkAgreements</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Basic_Pay__c</field>
            <value>
                <elementReference>Get_Position.Basic_Pay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_ID__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Employee_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <stringValue>New-Hire</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grade_or_Level__c</field>
            <value>
                <elementReference>Get_Position.Grade_or_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Hire_Manager_Flow_Complete__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Run_Five_Days_Before_Process__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSN__c</field>
            <value>
                <stringValue>123456789</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Security_Level__c</field>
            <value>
                <elementReference>Get_Position.Security_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Step_or_Rate__c</field>
            <value>
                <elementReference>Get_Position.Step_or_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Get_Position.Position_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Schedule__c</field>
            <value>
                <elementReference>Get_Position.Work_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Course_Session</name>
        <label>Update Course Session</label>
        <locationX>270</locationX>
        <locationY>4550</locationY>
        <connector>
            <targetReference>Set_Loop_Index</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Course_Sessions_Loop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varFormulaCourseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>varFormulaCourseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Session__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>182</locationX>
        <locationY>4886</locationY>
        <connector>
            <targetReference>Run_Contact_Autolaunch_Set_Employee_Photo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.User_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <stringValue>New-Hire</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>655</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Record_Id_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Contact_Autolaunch_Set_Employee_Photo</name>
        <label>Run Contact Autolaunch - Set Employee Photo</label>
        <locationX>182</locationX>
        <locationY>5006</locationY>
        <flowName>Contact_Autolaunch_Set_Employee_Photo</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumCourseEnrollmentLoopNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRecordAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varRecordCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varRecordCourseEnrollments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>varRecordEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varRecordPerformancePlans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PM_Performance_Plan__c</objectType>
    </variables>
    <variables>
        <name>varRecordTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varRecordTeleworkAgreements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Telework_Agreement__c</objectType>
    </variables>
</Flow>
