force-app/main/default/flows/Demo_Reset_Autolaunch_WFM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Found_Cases_Decision</name>
        <label>Found Cases Decision</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Cases_Decision_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Cases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WFM_Process_Decision</name>
        <label>WFM Process Decision</label>
        <locationX>336</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Employee_Misconduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WFM_Process_You_Used</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WFMEmployeeMisconduct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cases</targetReference>
            </connector>
            <label>Employee Misconduct</label>
        </rules>
    </decisions>
    <interviewLabel>Demo Reset Autolaunch - WFM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Reset Autolaunch - WFM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Cases</name>
        <label>Delete Cases</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>Cases</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Cases_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ER_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee Misconduct</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Cases</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ER_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ER_Record_Type</name>
        <label>Get ER Record Type</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WFM_Process_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ER_Case_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeleworkAgreements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Telework_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varTextDefaultDutyLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Virginia</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTextDefaultDutyStationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>512034059</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTextDefaultFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Eva</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTextDefaultLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Bisset</stringValue>
        </value>
    </variables>
    <variables>
        <name>WFM_Process_You_Used</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
