force-app/main/default/flows/Demo_Reset_Autolaunch_Hiring.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Update_Applicant_From_Demo_Setup_0</name>
        <label>Update Applicant From Demo Setup</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>recruitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordRecruit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Medical_Exam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Background_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Fitness_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Polygraph_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Drug_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Applicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Recruit_Status_Assignment</name>
        <label>Update Recruit Status Assignment</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varRecordRecruit.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Applied</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Recruit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Demo_Setup_Record</name>
        <label>Found Demo Setup Record?</label>
        <locationX>336</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Demo_Setup_Record_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Demo_Reset_Autolaunch_Copy_Applicant_from_Recruit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Interviews_Found</name>
        <label>Interviews Found?</label>
        <locationX>182</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>Update_Job_Opening</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Interviews_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Interviews</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Interviews</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tasks_Found</name>
        <label>Tasks Found?</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Get_Applicant_Contact_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Tasks_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Record_Id_Provided</name>
        <label>Was Record Id Provided?</label>
        <locationX>545</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Was_Record_Id_Provided_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Demo_Setup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>varFormulaDateThreeDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <name>varFormulaTextApplicantName</name>
        <dataType>String</dataType>
        <expression>&apos;Applicant - &apos; + {!varRecordRecruit.FirstName} + &apos; &apos; + {!varRecordRecruit.LastName} + &apos; :: Area of Interest: &apos; + TEXT({!varRecordRecruit.Area_of_Interest__c})</expression>
    </formulas>
    <interviewLabel>Demo Reset Autolaunch - Hiring {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Reset Autolaunch - Hiring</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Interviews</name>
        <label>Delete Interviews</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Update_Job_Opening</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Applicantion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applicant.Id</elementReference>
            </value>
        </filters>
        <object>Interview__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Tasks</name>
        <label>Delete Tasks</label>
        <locationX>50</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>Get_Applicant_Contact_Record_Type</targetReference>
        </connector>
        <inputReference>Get_Applicant_Tasks</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Applicant</name>
        <label>Get Applicant</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Applicant_From_Demo_Setup_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup.Applicant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Contact_Record_Type</name>
        <label>Get Applicant Contact Record Type</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicant_Tasks</name>
        <label>Get Applicant Tasks</label>
        <locationX>182</locationX>
        <locationY>1934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tasks_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applicant.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Setup</name>
        <label>Get Demo Setup</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Demo_Setup_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demo_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Interviews</name>
        <label>Get Interviews</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interviews_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Applicantion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applicant.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Applicant</name>
        <label>Update Applicant</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_Recruit_Status_Assignment</targetReference>
        </connector>
        <inputReference>Get_Applicant</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Record_Type</name>
        <label>Update Contact Record Type</label>
        <locationX>182</locationX>
        <locationY>2510</locationY>
        <connector>
            <targetReference>Run_Demo_Reset_Autolaunch_Reset_Hiring_Shared_Calendar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Applicant_Contact_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_Opening</name>
        <label>Update Job Opening</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Get_Applicant_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup.Job_Opening__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closing_Date__c</field>
            <value>
                <elementReference>varFormulaDateThreeDaysFromToday</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Opening__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recruit</name>
        <label>Update Recruit</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Update_Recruit_Questions</targetReference>
        </connector>
        <inputReference>varRecordRecruit</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recruit_Questions</name>
        <label>Update Recruit Questions</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Get_Interviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recruit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recruitId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Applicant__c</field>
            <value>
                <elementReference>Get_Applicant.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Recruit_Question__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Record_Id_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Demo_Reset_Autolaunch_Copy_Applicant_from_Recruit</name>
        <label>Run Demo Reset Autolaunch - Copy Applicant from Recruit</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Applicant</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_Copy_Applicant_from_Recruit</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recruitId</assignToReference>
            <name>recruitId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRecordRecruit</assignToReference>
            <name>varRecordRecruit</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Run_Demo_Reset_Autolaunch_Reset_Hiring_Shared_Calendar</name>
        <label>Run Demo Reset Autolaunch - Reset Hiring Shared Calendar</label>
        <locationX>182</locationX>
        <locationY>2630</locationY>
        <flowName>Demo_Reset_Autolaunch_Reset_Hiring_Shared_Calendar</flowName>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recruitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordRecruit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
