force-app/main/default/flows/Demo_Reset_Autolaunch_Employee_Services.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Contact_Duty_Station</name>
        <label>Set Contact Duty Station</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varRecContact.Duty_Station__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Duty_Stations.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_Details</name>
        <label>Update Contact Details</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varRecContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecContact.Employee_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Employee_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecContact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_Salutation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecContact.Place_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_Place_of_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecContact.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecContact.U_S_Citizen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.US_Citizen__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecContact.Marital_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Marital_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecContact.Ethnicity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Ethnicity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecContact.Education_Level_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Education_Level_New__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecContact.Racial_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Racial_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Duty_Station_Found</name>
        <label>Duty Station Found?</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Duty_Station_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Duty_Stations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Duty_Station</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Demo_Setup_Record</name>
        <label>Found Demo Setup Record?</label>
        <locationX>545</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Demo_Setup_Record_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Contact_Found</name>
        <label>If Contact Found</label>
        <locationX>336</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>NOT Found</defaultConnectorLabel>
        <rules>
            <name>Found_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Duty_Stations</targetReference>
            </connector>
            <label>Found Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Record_Id_Provided</name>
        <label>Was Record Id Provided?</label>
        <locationX>781</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Was_Record_Id_Provided_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Demo_Setup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Runs all Employee Services Reset Flows</description>
    <interviewLabel>Demo Reset Autolaunch - Employee Services {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Reset Autolaunch - Employee Services</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>336</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup.Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varRecContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Setup</name>
        <label>Get Demo Setup</label>
        <locationX>545</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Demo_Setup_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demo_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Duty_Stations</name>
        <label>Get Duty Stations</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duty_Station_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup.Duty_Station__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Duty_Station__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Run_Demo_Reset_Telework_Agreement</targetReference>
        </connector>
        <inputReference>varRecContact</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>655</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Record_Id_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Contact_Autolaunch_Set_Employee_Photo</name>
        <label>Run Contact Autolaunch - Set Employee Photo</label>
        <locationX>182</locationX>
        <locationY>1694</locationY>
        <flowName>Contact_Autolaunch_Set_Employee_Photo</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Demo_Reset_Telework_Agreement</name>
        <label>Run Demo Reset - Telework Agreement</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Run_Demo_Reset_Workforce_Management</targetReference>
        </connector>
        <flowName>Demo_Reset_Telework_Agreement</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>varRecContact.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Demo_Reset_Workforce_Management</name>
        <label>Run Demo Reset - Workforce Management</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Run_Contact_Autolaunch_Set_Employee_Photo</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_WFM</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>varRecContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WFM_Process_You_Used</name>
            <value>
                <stringValue>WFMEmployeeMisconduct</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
