force-app/main/default/flows/Demo_Reset_Autolaunch_Copy_Applicant_from_Recruit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Update_Applicant_From_Demo_Setup_0</name>
        <label>Update Applicant From Demo Setup</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>recruitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Recruit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Recruit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Applicant_From_Recruit</name>
        <label>Update Applicant From Recruit</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Get_Applicant.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USA Staffing - Converted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFormulaTextApplicantName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Job_Opening__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordRecruit.Job_Opening__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFormulaTextApplicantName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordRecruit.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Area_of_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordRecruit.Area_of_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordRecruit.Date_of_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Racial_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordRecruit.Racial_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Marital_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordRecruit.Marital_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Education_Level_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordRecruit.Education_Level_New__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.US_Citizen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordRecruit.US_Citizen__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Law_Enforcement_Experience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordRecruit.Law_Enforcement_Experience__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordRecruit.Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Prior_Military_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordRecruit.Prior_Military_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Ethnicity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordRecruit.Ethnicity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Veteran__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordRecruit.Veteran__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordRecruit.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Applicant</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Recruit_Exists</name>
        <label>Recruit Exists?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Run_Recruit_Autolaunch_Create_Recruit_From_Demo_Setup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Recruit_Exists_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup.Recruit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Applicant_From_Demo_Setup_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>varFormulaDateThreeDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <name>varFormulaTestEventSubject</name>
        <dataType>String</dataType>
        <expression>{!currentApplicantContactRecord.Name}</expression>
    </formulas>
    <formulas>
        <name>varFormulaTextApplicantName</name>
        <dataType>String</dataType>
        <expression>&apos;Applicant - &apos; + {!varRecordRecruit.FirstName} + &apos; &apos; + {!varRecordRecruit.LastName} + &apos; :: Area of Interest: &apos; + TEXT({!varRecordRecruit.Area_of_Interest__c})</expression>
    </formulas>
    <interviewLabel>Demo Reset Autolaunch - Copy Applicant from Recruit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Reset Autolaunch - Copy Applicant from Recruit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Applicant</name>
        <label>Get Applicant</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recruit_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup.Applicant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Setup</name>
        <label>Get Demo Setup</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demo_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recruit</name>
        <label>Get Recruit</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Applicant_From_Recruit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recruitId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>varRecordRecruit</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Area_of_Interest__c</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Company</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>Date_of_Birth__c</queriedFields>
        <queriedFields>Education_Level_New__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Ethnicity__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Job_Opening__c</queriedFields>
        <queriedFields>Law_Enforcement_Experience__c</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>Marital_Status__c</queriedFields>
        <queriedFields>Mobile_Telephone_Provider__c</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>New_Recruit__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Prior_Military_Service__c</queriedFields>
        <queriedFields>Racial_Category__c</queriedFields>
        <queriedFields>Question_Count__c</queriedFields>
        <queriedFields>Question_Score__c</queriedFields>
        <queriedFields>Rating</queriedFields>
        <queriedFields>Service_Branch__c</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>US_Citizen__c</queriedFields>
        <queriedFields>Veteran__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Applicant</name>
        <label>Update Applicant</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <inputReference>Get_Applicant</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Demo_Setup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Recruit_Autolaunch_Create_Recruit_From_Demo_Setup</name>
        <label>Run Recruit Autolaunch - Create Recruit From Demo Setup</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Recruit</targetReference>
        </connector>
        <flowName>Recruit_Autolaunch_Create_Recruit_From_Demo_Setup</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recruitId</assignToReference>
            <name>newRecruitId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>currentApplicantContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recruitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordRecruit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
