force-app/main/default/flows/Demo_Reset_Autolaunch_Reset_Hiring_Shared_Calendar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Event_to_Events</name>
        <label>Add Event to Events</label>
        <locationX>402</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>NewEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Opportunity_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Defaults to current user&apos;s Calendar</description>
        <name>Default</name>
        <label>Default</label>
        <locationX>798</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>varTextEventOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skip_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fitness_Test_Calendar_Assignment</name>
        <label>Fitness Test Calendar Assignment</label>
        <locationX>534</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>varTextEventOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fitness_Test_Calendar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skip_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterate_Day_and_Week</name>
        <label>Iterate Day and Week</label>
        <locationX>402</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>varNumDayIterator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumWeekIterator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Event_Owner_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterate_Hour</name>
        <label>Iterate Hour</label>
        <locationX>666</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>varNumHourIterator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Day_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterate_Hour_and_Day</name>
        <label>Iterate Hour and Day</label>
        <locationX>402</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>varNumHourIterator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumDayIterator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Day_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterate_Loop_Index</name>
        <label>Iterate Loop Index</label>
        <locationX>534</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varNumLoopIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hour_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Medical_Exam_Calendar_Assignment_0</name>
        <label>Medical Exam Calendar Assignment</label>
        <locationX>270</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>varTextEventOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Exam_Calendar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skip_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_New_Event</name>
        <label>Populate New Event</label>
        <locationX>402</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>NewEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFormulaEventEndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFormulaEventStartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTextEventOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.ShowAs</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Busy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Opportunity_Loop.Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFormulaTestEventSubject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Event_to_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Loop_Index_for_Fitness_Test_Loop</name>
        <label>Reset Loop Index for Fitness Test Loop</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varNumHourIterator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumWeekIterator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumDayIterator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Opportunity_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Could_we_find_Existing_Events</name>
        <label>Could we find Existing Events?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Reset_Loop_Index_for_Fitness_Test_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Events</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Events</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Day_Decision</name>
        <label>Day Decision</label>
        <locationX>534</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Event_Owner_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Week_is_done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumDayIterator</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Day_and_Week</targetReference>
            </connector>
            <label>Week is done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_Owner_Decision</name>
        <label>Event Owner Decision</label>
        <locationX>534</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Medical_Exam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Opportunity_Loop.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Exam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Exam_Calendar_Assignment_0</targetReference>
            </connector>
            <label>Medical Exam</label>
        </rules>
        <rules>
            <name>Fitness_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Opportunity_Loop.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fitness Tests</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fitness_Test_Calendar_Assignment</targetReference>
            </connector>
            <label>Fitness Test</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hour_Decision</name>
        <label>Hour Decision</label>
        <locationX>534</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Iterate_Hour</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Day_is_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumHourIterator</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Hour_and_Day</targetReference>
            </connector>
            <label>Day is Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Event</name>
        <label>Skip Event?</label>
        <locationX>534</locationX>
        <locationY>2342</locationY>
        <defaultConnector>
            <targetReference>Existing_Opportunity_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Skip_Event_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFormulaBooleanRandomEventSkipper</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_New_Event</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>varFormulaBooleanRandomEventSkipper</name>
        <dataType>Boolean</dataType>
        <expression>IF(MOD({!varNumLoopIndex}, 7) = 0, true, false)</expression>
    </formulas>
    <formulas>
        <name>varFormulaDateNextMonday</name>
        <dataType>Date</dataType>
        <expression>TODAY() + CASE( MOD(TODAY() - DATE(1900, 1, 7 ), 7 ), 0, 8, 1, 7,	2, 6, 3, 5, 4, 4, 5, 3, 6, 2, 0)</expression>
    </formulas>
    <formulas>
        <name>varFormulaDateTenDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()+10</expression>
    </formulas>
    <formulas>
        <name>varFormulaDateThreeDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <name>varFormulaDateTimeNextMonday</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT( {!varFormulaDateNextMonday}) + &apos; 00:00:00&apos;)</expression>
    </formulas>
    <formulas>
        <name>varFormulaDateTimeNextTuesday</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT( {!varFormulaDateNextMonday}) + &apos; 00:00:00&apos;) + 1</expression>
    </formulas>
    <formulas>
        <description>Adds 90 minute to start time</description>
        <name>varFormulaEventEndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!varFormulaEventStartDateTime} + (90/1440)</expression>
    </formulas>
    <formulas>
        <description>Starts by finding the next Monday. Then Uses the week iterator to decide if it needs to add another week to the datetime (Apparently events are only on Monday. Lastly it adds hours based upon the hour iterator index (Using a case statement)...Added 2 hours for Daylight Savings...</description>
        <name>varFormulaEventStartDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!varFormulaDateTimeNextMonday} + ({!varNumWeekIterator} * 7 )  + {!varNumDayIterator} + (240/1440) + CASE({!varNumHourIterator},
1, ((9*60)/1440),
2, ((11*60)/1440),
3, ((13*60)/1440),
4, ((15*60)/1440), 
0)</expression>
    </formulas>
    <formulas>
        <name>varFormulaTestEventSubject</name>
        <dataType>String</dataType>
        <expression>TEXT({!Existing_Opportunity_Loop.StageName}) + &apos; - &apos; + {!currentApplicantContactRecord.Name}</expression>
    </formulas>
    <formulas>
        <name>varFormulaTextApplicantName</name>
        <dataType>String</dataType>
        <expression>&apos;Applicant - &apos; + {!varRecordRecruit.FirstName} + &apos; &apos; + {!varRecordRecruit.LastName} + &apos; :: Area of Interest: &apos; + TEXT({!varRecordRecruit.Area_of_Interest__c})</expression>
    </formulas>
    <interviewLabel>Demo Reset Autolaunch - Reset Hiring Shared Calendar {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Reset Autolaunch - Reset Hiring Shared Calendar</label>
    <loops>
        <name>Existing_Opportunity_Loop</name>
        <label>Existing Opportunity Loop</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <collectionReference>Get_Existing_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Iterate_Loop_Index</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Events</name>
        <label>Create Events</label>
        <locationX>182</locationX>
        <locationY>2894</locationY>
        <inputReference>NewEvents</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Events</name>
        <label>Delete Events</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Reset_Loop_Index_for_Fitness_Test_Loop</targetReference>
        </connector>
        <inputReference>Get_Existing_Events</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_Applicants</name>
        <label>Get Existing Applicants</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Medical_Exam_Calendar</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medical Exam</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fitness Tests</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Events</name>
        <label>Get Existing Events</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Could_we_find_Existing_Events</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Medical_Exam_Calendar.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Fitness_Test_Calendar.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fitness_Test_Calendar</name>
        <label>Get Fitness Test Calendar</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fitness Test Calendar</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendar</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medical_Exam_Calendar</name>
        <label>Get Medical Exam Calendar</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Fitness_Test_Calendar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medical Exam Calendar</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendar</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Applicants</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentApplicantContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>NewEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>recruitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumDayIterator</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNumHourIterator</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNumLoopIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNumWeekIterator</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRecordRecruit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varTextEventOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
