force-app/main/default/flows/Demo_Reset_Master_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Hire_Onboarding_Wizard_Email</name>
        <label>New Hire Onboarding Wizard Email</label>
        <locationX>3416</locationX>
        <locationY>4262</locationY>
        <actionName>Contact.New_Hire_Onboarding_Wizard</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Stage_as_Done</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Supervisor__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Default_Phase_Tile_Assignment</name>
        <label>Default Phase Tile Assignment</label>
        <locationX>3779</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Demo_Setup_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_Phase_Assignment_Applicant_Unknown</name>
        <label>EE Phase Assignment - Applicant Unknown</label>
        <locationX>2426</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>varTextEstimatedCurrentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown. Suggest Reset</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Setup_Phase_Start_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_Phase_Assignment_Employee_Services</name>
        <label>EE Phase Assignment - Employee Services</label>
        <locationX>3746</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>varTextEstimatedCurrentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee Services (But unsure if changes have been made)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Setup_Phase_Start_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_Phase_Assignment_Hiring_Interviewing_In_Progress</name>
        <label>EE Phase Assignment - Hiring - Interviewing In Progress</label>
        <locationX>1898</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>varTextEstimatedCurrentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hiring - Interviewing In Progress (Needs Reset)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Setup_Phase_Start_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_Phase_Assignment_Hiring_Qualifications_Review_In_Progress</name>
        <label>EE Phase Assignment - Hiring - Qualifications Review In Progress</label>
        <locationX>2162</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>varTextEstimatedCurrentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hiring - Qualifications Review In Progress (Needs Reset)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Setup_Phase_Start_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_Phase_Assignment_Hiring_Qualifications_Review_In_Progress_0</name>
        <label>EE Phase Assignment - Onboarding - Post Wizard</label>
        <locationX>2954</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>varTextEstimatedCurrentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding - Post Onboarding Wizard (Needs Reset)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Setup_Phase_Start_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_Phase_Assignment_Hiring_Start</name>
        <label>EE Phase Assignment - Hiring Start</label>
        <locationX>842</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>varTextEstimatedCurrentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hiring</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Setup_Phase_Start_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_Phase_Assignment_Onboarding_Pre_Orientation</name>
        <label>EE Phase Assignment - Onboarding - Pre-Orientation</label>
        <locationX>3218</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>varTextEstimatedCurrentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding - In Pre-Orientation (Needs Reset)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Setup_Phase_Start_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_Phase_Assignment_Onboarding_Start</name>
        <label>EE Phase Assignment - Onboarding Start</label>
        <locationX>2690</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>varTextEstimatedCurrentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Setup_Phase_Start_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_Phase_Assignment_Onboarding_Unknown</name>
        <label>EE Phase Assignment - Onboarding Unknown</label>
        <locationX>3482</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>varTextEstimatedCurrentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown Onboarding Stage. Suggest Reset</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Setup_Phase_Start_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_Phase_Assignment_Recruit_Unknown</name>
        <label>EE Phase Assignment - Recruit Unknown</label>
        <locationX>578</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>varTextEstimatedCurrentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown Recruiting Stage. Suggest Reset</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Setup_Phase_Start_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_Phase_Assignment_Recruiting_Active</name>
        <label>EE Phase Assignment - Recruiting Active</label>
        <locationX>314</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>varTextEstimatedCurrentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recruiting - Active (Needs Reset)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Setup_Phase_Start_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_Phase_Assignment_Recruiting_Post_Job_Fair</name>
        <label>EE Phase Assignment - Recruiting Post Job Fair</label>
        <locationX>50</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>varTextEstimatedCurrentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recruiting - Post Job Fair (Needs Reset)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Setup_Phase_Start_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_Phase_Assignment_Suitability_Completed_but_Unknown</name>
        <label>EE Phase Assignment - Suitability Completed but Unknown</label>
        <locationX>1106</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>varTextEstimatedCurrentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Suitability - Completed but Contact is still Inactive (Needs Reset)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Setup_Phase_Start_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_Phase_Assignment_Suitability_In_Progress</name>
        <label>EE Phase Assignment - Suitability In Progress</label>
        <locationX>1634</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>varTextEstimatedCurrentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Suitability - In Progress (Needs Reset)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Setup_Phase_Start_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EE_Phase_Assignment_Suitability_Start_0</name>
        <label>EE Phase Assignment - Suitability Start</label>
        <locationX>1370</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>varTextEstimatedCurrentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Suitability</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Setup_Phase_Start_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Employee_Phase_Guess_Decision_Recruitin</name>
        <label>Employee Phase Guess Decision - Recruiting</label>
        <locationX>4010</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>varTextEstimatedCurrentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recruiting</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Setup_Phase_Start_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Employee_Services_Phase_Tiles_Assignment</name>
        <label>Employee Services Phase Tiles Assignment</label>
        <locationX>3680</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varConstEmployeeServices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scenario_Select_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hiring_Phase_Tiles_Assignment</name>
        <label>Hiring Phase Tiles Assignment</label>
        <locationX>2888</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varConstHiring</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varConstSuitability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varConstOnboarding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varConstEmployeeServices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scenario_Select_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Onboarding_Phase_Tiles_Assignment</name>
        <label>Onboarding Phase Tiles Assignment</label>
        <locationX>3416</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varConstOnboarding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varConstEmployeeServices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scenario_Select_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recruiting_Phase_Tiles_Assignment</name>
        <label>Recruiting Phase Tiles Assignment</label>
        <locationX>2624</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varConstRecruiting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varConstHiring</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varConstSuitability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varConstOnboarding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varConstEmployeeServices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scenario_Select_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Id</name>
        <label>Set Record Id</label>
        <locationX>3867</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedDemoSetup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Default_Phase_Tile_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reset_Options_Stage</name>
        <label>Set Reset Options Stage</label>
        <locationX>3284</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reset_Options</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scenario_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Select_Scenario_Stage</name>
        <label>Set Select Scenario Stage</label>
        <locationX>3867</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Scenario</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_as_Done</name>
        <label>Set Stage as Done</label>
        <locationX>3284</locationX>
        <locationY>4718</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Done</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completion_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suitability_Phase_Tiles_Assignment</name>
        <label>Suitability Phase Tiles Assignment</label>
        <locationX>3152</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varConstSuitability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varConstOnboarding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varConstEmployeeServices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scenario_Select_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choicePARDutyStationChange</name>
        <choiceText>&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Duty Station Change PAR&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARDutyStationChange</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePARNameChange</name>
        <choiceText>&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Name Change PAR&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARNameChange</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceWFMEmployeeMisconduct</name>
        <choiceText>&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Employee Misconduct&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WFMEmployeeMisconduct</stringValue>
        </value>
    </choices>
    <constants>
        <name>varConstEmployeeServices</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Employee Services</stringValue>
        </value>
    </constants>
    <constants>
        <name>varConstHiring</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Hiring</stringValue>
        </value>
    </constants>
    <constants>
        <name>varConstOnboarding</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Onboarding</stringValue>
        </value>
    </constants>
    <constants>
        <name>varConstRecruiting</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recruiting</stringValue>
        </value>
    </constants>
    <constants>
        <name>varConstSuitability</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Suitability</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Demo_Setup_Phase_Start_Decision</name>
        <label>Demo Setup Phase Start Decision</label>
        <locationX>3284</locationX>
        <locationY>3206</locationY>
        <defaultConnector>
            <targetReference>Scenario_Select_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Demo_Setup_Phase_Start_Decision_Recruiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup_Record.Starting_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varConstRecruiting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recruiting_Phase_Tiles_Assignment</targetReference>
            </connector>
            <label>Recruiting</label>
        </rules>
        <rules>
            <name>Demo_Setup_Phase_Start_Decision_Hiring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup_Record.Starting_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varConstHiring</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hiring_Phase_Tiles_Assignment</targetReference>
            </connector>
            <label>Hiring</label>
        </rules>
        <rules>
            <name>Demo_Setup_Phase_Start_Decision_Suitability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup_Record.Starting_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varConstSuitability</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suitability_Phase_Tiles_Assignment</targetReference>
            </connector>
            <label>Suitability</label>
        </rules>
        <rules>
            <name>Demo_Setup_Phase_Start_Decision_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup_Record.Starting_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varConstOnboarding</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onboarding_Phase_Tiles_Assignment</targetReference>
            </connector>
            <label>Onboarding</label>
        </rules>
        <rules>
            <name>Demo_Setup_Phase_Start_Decision_Employee_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup_Record.Starting_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varConstEmployeeServices</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employee_Services_Phase_Tiles_Assignment</targetReference>
            </connector>
            <label>Employee Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Applicant_Record</name>
        <label>Has Applicant Record?</label>
        <locationX>3779</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Has_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Applicant_Record_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup_Record.Applicant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Contact_Record</name>
        <label>Has Contact Record?</label>
        <locationX>3779</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>OK_to_Proceed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Contact_Record_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup_Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Recruit_Record</name>
        <label>Has Recruit Record?</label>
        <locationX>3779</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Has_Applicant_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Recruit_Record_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup_Record.Recruit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recruit_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OK_to_Proceed</name>
        <label>OK to Proceed?</label>
        <locationX>3779</locationX>
        <locationY>2102</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OK_to_Proceed_Yes</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 2 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Applicant_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Recruit_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Recruit_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Demo_Setup_Record.Starting_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recruiting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phase_Decision_Recruit_Exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phase_Decision_Applicant_Status</name>
        <label>Phase Decision - Applicant Status</label>
        <locationX>1370</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>EE_Phase_Assignment_Applicant_Unknown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Phase_Decision_Applicant_Status_Converted_Pre_Hiring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA Staffing - Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Recruit_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Applied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phase_Decision_Recruit_Status</targetReference>
            </connector>
            <label>Converted - Pre-Hiring</label>
        </rules>
        <rules>
            <name>Converted_Hiring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA Staffing - Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Recruit_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EE_Phase_Assignment_Hiring_Start</targetReference>
            </connector>
            <label>Converted - Hiring</label>
        </rules>
        <rules>
            <name>Phase_Decision_Applicant_Status_Offer_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EE_Phase_Assignment_Suitability_Completed_but_Unknown</targetReference>
            </connector>
            <label>Offer Accepted</label>
        </rules>
        <rules>
            <name>Phase_Decision_Applicant_Status_Background_Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Background Investigation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EE_Phase_Assignment_Suitability_Start_0</targetReference>
            </connector>
            <label>Background Investigation</label>
        </rules>
        <rules>
            <name>Phase_Decision_Applicant_Status_Suitability_Phases</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Exam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Applicant_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fitness Tests</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Applicant_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Polygraph Exam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Applicant_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drug Test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Applicant_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer Extended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EE_Phase_Assignment_Suitability_In_Progress</targetReference>
            </connector>
            <label>Suitability Phases</label>
        </rules>
        <rules>
            <name>Interviewing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EE_Phase_Assignment_Hiring_Interviewing_In_Progress</targetReference>
            </connector>
            <label>Interviewing</label>
        </rules>
        <rules>
            <name>Qualifications_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualifications Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EE_Phase_Assignment_Hiring_Qualifications_Review_In_Progress</targetReference>
            </connector>
            <label>Qualifications Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phase_Decision_Employee_Status</name>
        <label>Phase Decision - Employee Status</label>
        <locationX>2558</locationX>
        <locationY>2342</locationY>
        <defaultConnector>
            <targetReference>EE_Phase_Assignment_Employee_Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>Phase_Decision_Employee_Status_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.Employment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phase_Decision_Applicant_Status</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
        <rules>
            <name>Phase_Decision_Employee_Status_New_Hire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.Employment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New-Hire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phase_Decision_Onboarding_Status</targetReference>
            </connector>
            <label>New Hire</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phase_Decision_Onboarding_Status</name>
        <label>Phase Decision - Onboarding Status</label>
        <locationX>3086</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>EE_Phase_Assignment_Onboarding_Unknown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Prior_to_Onboarding_Wizard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.New_Hire_Manager_Flow_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EE_Phase_Assignment_Onboarding_Start</targetReference>
            </connector>
            <label>Prior to Onboarding Wizard</label>
        </rules>
        <rules>
            <name>Post_Onboarding_Wizard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.Run_Five_Days_Before_Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record.New_Hire_Manager_Flow_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EE_Phase_Assignment_Hiring_Qualifications_Review_In_Progress_0</targetReference>
            </connector>
            <label>Post Onboarding Wizard</label>
        </rules>
        <rules>
            <name>Pre_Orientation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.New_Hire_Manager_Flow_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record.Run_Five_Days_Before_Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EE_Phase_Assignment_Onboarding_Pre_Orientation</targetReference>
            </connector>
            <label>Pre-Orientation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phase_Decision_Recruit_Exists</name>
        <label>Phase Decision - Recruit Exists?</label>
        <locationX>3284</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Employee_Phase_Guess_Decision_Recruitin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Phase_Decision_Recruit_Exists_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup_Record.Recruit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phase_Decision_Employee_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phase_Decision_Recruit_Status</name>
        <label>Phase Decision - Recruit Status</label>
        <locationX>314</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>EE_Phase_Assignment_Recruit_Unknown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Phase_Decision_Recruit_Status_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recruit_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EE_Phase_Assignment_Recruiting_Post_Job_Fair</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Phase_Decision_Recruit_Status_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recruit_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EE_Phase_Assignment_Recruiting_Active</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scenario_Decision</name>
        <label>Scenario Decision</label>
        <locationX>3284</locationX>
        <locationY>3782</locationY>
        <defaultConnector>
            <targetReference>Phase_Not_Select_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scenario_Decision_Recruiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>datagrid.firstSelectedItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varConstRecruiting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recruiting_Reset</targetReference>
            </connector>
            <label>Recruiting</label>
        </rules>
        <rules>
            <name>Scenario_Decision_Hiring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>datagrid.firstSelectedItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varConstHiring</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hiring_Reset</targetReference>
            </connector>
            <label>Hiring</label>
        </rules>
        <rules>
            <name>Scenario_Decision_Suitability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>datagrid.firstSelectedItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varConstSuitability</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suitability_Reset</targetReference>
            </connector>
            <label>Suitability</label>
        </rules>
        <rules>
            <name>Scenario_Decision_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>datagrid.firstSelectedItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varConstOnboarding</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onboarding_Reset</targetReference>
            </connector>
            <label>Onboarding</label>
        </rules>
        <rules>
            <name>Scenario_Decision_Employee_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>datagrid.firstSelectedItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varConstEmployeeServices</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employee_Services_Reset</targetReference>
            </connector>
            <label>Employee Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_recordId_Provided</name>
        <label>Was recordId Provided?</label>
        <locationX>3779</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Set_Select_Scenario_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Was_recordId_Provided_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Phase_Tile_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>recChoiceDemoSetupRecords</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Demo_Setup__c</object>
        <sortField>Current_Demo_Config__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceNewHires</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New-Hire</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>varFormulaHasApplicantFlag</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_Demo_Setup_Record.Applicant__c} != null, true, false)</expression>
    </formulas>
    <formulas>
        <name>varFormulaHasContactFlag</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_Demo_Setup_Record.Contact__c} != null, true, false)</expression>
    </formulas>
    <formulas>
        <name>varFormulaHasRecruitFlag</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_Demo_Setup_Record.Recruit__c} != null, true, false)</expression>
    </formulas>
    <interviewLabel>Demo Reset - Master V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Reset - Master V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Applicant_Record</name>
        <label>Get Applicant Record</label>
        <locationX>3647</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup_Record.Applicant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>3647</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup_Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_Type</name>
        <label>Get Contact Record Type</label>
        <locationX>3647</locationX>
        <locationY>1886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OK_to_Proceed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Setup_Record</name>
        <label>Get Demo Setup Record</label>
        <locationX>3779</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Recruit_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demo_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recruit_Record</name>
        <label>Get Recruit Record</label>
        <locationX>3647</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Applicant_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup_Record.Recruit_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Completion_Screen</name>
        <label>Completion Screen</label>
        <locationX>3284</locationX>
        <locationY>4838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completion_Screen_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Demo Reset Utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this Flow to quickly reset your Demos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:loop</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Completion_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Completion_Screen_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Completion_Screen_NextDT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Demo Reset has completed, click &quot;Finish&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Employee_Services_Reset</name>
        <label>Employee Services Reset</label>
        <locationX>3680</locationX>
        <locationY>3902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Run_Demo_Reset_Employee_Services</targetReference>
        </connector>
        <fields>
            <name>Employee_Services_Reset_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Employee Services Reset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this Flow to quickly reset Demo Scenarios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:loop</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Employee_Services_Reset_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Employee_Services_Reset_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Employee_Services_Reset_BDT</name>
            <fieldText>&lt;p&gt;&lt;b&gt;This flow will perform the following:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Reset Profile Image.&lt;/li&gt;&lt;li&gt;Reset Employee Information to match Demo Setup.&lt;/li&gt;&lt;li&gt;Delete Existing Telework Agreements.&lt;/li&gt;&lt;li&gt;Reset Any Potential PAR Name Changes.&lt;/li&gt;&lt;li&gt;Reset Any Potential PAR Duty Location Changes.&lt;/li&gt;&lt;li&gt;Delete any Employee Relation Cases.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Employee_Services_Reset_BDTU</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Affected Contact: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Contact_Record.Name}/ {!Get_Contact_Record.Id}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Employee_Services_Reset_NextDT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;To proceed, click &quot;Next&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>4274</locationX>
        <locationY>2222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Demo Reset Utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this Flow to quickly reset your Demos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:loop</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Error_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Error_Screen_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Error_Screen_DT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 31, 31);&quot;&gt;There is an issue with the Demo Setup Record. Please make sure that the record has at least an associated Applicant and Contact Record.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Hiring_Reset</name>
        <label>Hiring Reset</label>
        <locationX>2888</locationX>
        <locationY>3902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Run_Demo_Reset_Employee_Services_Hiring</targetReference>
        </connector>
        <fields>
            <name>Hiring_Reset_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Hiring Reset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this Flow to quickly reset Demo Scenarios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:loop</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Hiring_Reset_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hiring_Reset_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Hiring_Reset_BDT</name>
            <fieldText>&lt;p&gt;&lt;b&gt;This flow will perform the following changes:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Runs Employee Services Reset&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;Runs Onboarding Reset&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;Runs Suitability Reset&lt;/b&gt;&lt;/li&gt;&lt;li&gt;Makes sure a Recruit Exists (If not, creates a new one from Demo Setup)&lt;/li&gt;&lt;li&gt;Updates Applicant Data from the Recruit.&lt;/li&gt;&lt;li&gt;Deletes any Interviews.&lt;/li&gt;&lt;li&gt;Resets Recruit Questions.&lt;/li&gt;&lt;li&gt;Resets any Medical, Fitness, Background, Polygraph status for the Applicant.&lt;/li&gt;&lt;li&gt;Ensure Correct Job Opening is referenced in Applicant Record.&lt;/li&gt;&lt;li&gt;Deletes any Applicant Tasks.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hiring_Reset_BDTU</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Affected Applicant: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Applicant_Record.Name}/ {!Get_Applicant_Record.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Affected Contact: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Contact_Record.Name}/ {!Get_Contact_Record.Id}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hiring_Reset_NextDT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;To proceed, click &quot;Next&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Onboarding_Reset</name>
        <label>Onboarding Reset</label>
        <locationX>3416</locationX>
        <locationY>3902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Run_Demo_Reset_Employee_Services_Onboarding</targetReference>
        </connector>
        <fields>
            <name>Onboarding_Reset_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Onboarding Reset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this Flow to quickly reset Demo Scenarios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:loop</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Onboarding_Reset_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Onboarding_Reset_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Onboarding_Reset_BDT</name>
            <fieldText>&lt;p&gt;&lt;b&gt;This flow will perform the following changes:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Runs Employee Services Reset&lt;/b&gt;&lt;/li&gt;&lt;li&gt;Marks Applicant record as &quot;Closed - Offer Accepted&quot;&lt;/li&gt;&lt;li&gt;Delete any cases, performance plans, tasks, events, assets, course enrollments, Earnings and Leave Statements. This includes anything that may be in the &quot;Employee Services&quot; Demo Scenario.&lt;/li&gt;&lt;li&gt;Resets Contact Info to New-Hire Info.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Onboarding_Reset_BDTU</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Affected Applicant: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Applicant_Record.Name}/ {!Get_Applicant_Record.Id}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Affected Contact: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Contact_Record.Name}/ {!Get_Contact_Record.Id}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Onboarding_Reset_NextDT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;To proceed, click &quot;Next&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Phase_Not_Select_Screen</name>
        <label>Phase Not Select Screen</label>
        <locationX>3944</locationX>
        <locationY>3902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_as_Done</targetReference>
        </connector>
        <fields>
            <name>Phase_Not_Select_Screen_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>No Phase Selected</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Please go back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:loop</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phase_Not_Select_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phase_Not_Select_Screen_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phase_Not_Select_Screen_BDT</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Hey! We noticed you did not select a Phase, please go back and try again...&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Recruiting_Reset</name>
        <label>Recruiting Reset</label>
        <locationX>2624</locationX>
        <locationY>3902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Run_Demo_Reset_Employee_Services_Recruiting</targetReference>
        </connector>
        <fields>
            <name>Recruiting_Reset_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Recruiting Reset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this Flow to quickly reset Demo Scenarios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:loop</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Recruiting_Reset_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Recruiting_Reset_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Recruiting_Reset_BDT</name>
            <fieldText>&lt;p&gt;&lt;b&gt;This flow will perform the following changes:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Runs Employee Services Reset&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;Runs Onboarding Reset&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;Runs Suitability Reset&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;Runs Hiring Reset&lt;/b&gt;&lt;/li&gt;&lt;li&gt;Deletes any Recruits matching the Demo Setup Record Recruit Email Address.&lt;/li&gt;&lt;li&gt;Deletes Recruit Questions.&lt;/li&gt;&lt;li&gt;Resets any Medical, Fitness, Background, Polygraph status for the Applicant.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recruiting_Reset_BDTU</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Affected Recruit:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Recruit_Record.Name} / {!Get_Recruit_Record.Id}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Affected Applicant: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Applicant_Record.Name}/ {!Get_Applicant_Record.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Affected Contact: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Contact_Record.Name}/ {!Get_Contact_Record.Id}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recruiting_Reset_NextDT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;To proceed, click &quot;Next&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scenario_Select_Screen</name>
        <label>Scenario Select Screen</label>
        <locationX>3284</locationX>
        <locationY>3542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Reset_Options_Stage</targetReference>
        </connector>
        <fields>
            <name>Scenario_Select_Screen_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Demo Reset Utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this Flow to quickly reset Demo Scenarios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:loop</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Scenario_Select_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Scenario_Select_Screen_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Scenario_Select_Screen_DT</name>
            <fieldText>&lt;p&gt;&lt;u&gt;Selected Demo Scenario&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!Get_Demo_Setup_Record.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Current Phase&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!varTextEstimatedCurrentPhase}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;What Phase would you like to reset this Demo Setup back too? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>datagrid</name>
            <extensionName>FDGPack:GilmoreLabs_FlowTileGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstInput</name>
                <value>
                    <elementReference>Tiles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tileSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Scenario_Select_Screen_NextDT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;REMEMBER: You cannot reset it to a phase later than it currently is and expect great results. When in doubt, reset all the way and work the record to where you want it.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;To proceed, click &quot;Next&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Suitability_Reset</name>
        <label>Suitability Reset</label>
        <locationX>3152</locationX>
        <locationY>3902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Run_Demo_Reset_Employee_Services_Suitability</targetReference>
        </connector>
        <fields>
            <name>Suitability_Reset_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Suitability Reset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this Flow to quickly reset Demo Scenarios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:loop</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Suitability_Reset_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Suitability_Reset_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Suitability_Reset_BDT</name>
            <fieldText>&lt;p&gt;&lt;b&gt;This flow will perform the following changes:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Runs Employee Services Reset&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;Runs Onboarding Reset&lt;/b&gt;&lt;/li&gt;&lt;li&gt;Sets Applicant Stage at &quot;Background Investigation&quot;&lt;/li&gt;&lt;li&gt;Resets Contact Employment Status to Inactive.&lt;/li&gt;&lt;li&gt;Set contact as a &quot;Inactive&quot;&lt;/li&gt;&lt;li&gt;Deletes any non-Suitability related Tasks on Applicant.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Suitability_Reset_BDTU</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Affected Applicant: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Applicant_Record.Name}/ {!Get_Applicant_Record.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Affected Contact: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Contact_Record.Name}/ {!Get_Contact_Record.Id}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Suitability_Reset_NextDT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;To proceed, click &quot;Next&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>3867</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Record_Id</targetReference>
        </connector>
        <fields>
            <name>Welcome_Screen_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Demo Reset Utilty</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this Flow to quickly reset your Demos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:loop</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Welcome_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Welecome_Screen_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Welcome_Screen_DT</name>
            <fieldText>&lt;p&gt;This flow will allow you to reset most of the demo scenarios. Just select a Demo Setup, and select how you want to reset it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedDemoSetup</name>
            <choiceReferences>recChoiceDemoSetupRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Demo Setup</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Welcome_Screen_NextDT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;To proceed, click &quot;Next&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Done</name>
        <isActive>true</isActive>
        <label>Done</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Reset_Options</name>
        <isActive>true</isActive>
        <label>Reset Options</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Select_Scenario</name>
        <isActive>true</isActive>
        <label>Select Scenario</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>3653</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_recordId_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Demo_Reset_Employee_Services</name>
        <label>Run Demo Reset - Employee Services</label>
        <locationX>3680</locationX>
        <locationY>4022</locationY>
        <connector>
            <targetReference>Set_Stage_as_Done</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_Employee_Services</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Demo_Reset_Employee_Services_Hiring</name>
        <label>Run Demo Reset - Employee Services</label>
        <locationX>2888</locationX>
        <locationY>4022</locationY>
        <connector>
            <targetReference>Run_New_Hire_Onboarding_Reset_Hiring</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_Employee_Services</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Demo_Reset_Employee_Services_Onboarding</name>
        <label>Run Demo Reset - Employee Services</label>
        <locationX>3416</locationX>
        <locationY>4022</locationY>
        <connector>
            <targetReference>Run_New_Hire_Onboarding_Reset</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_Employee_Services</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Demo_Reset_Employee_Services_Recruiting</name>
        <label>Run Demo Reset - Employee Services</label>
        <locationX>2624</locationX>
        <locationY>4022</locationY>
        <connector>
            <targetReference>Run_New_Hire_Onboarding_Reset_Recruiting</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_Employee_Services</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Demo_Reset_Employee_Services_Suitability</name>
        <label>Run Demo Reset - Employee Services</label>
        <locationX>3152</locationX>
        <locationY>4022</locationY>
        <connector>
            <targetReference>Run_New_Hire_Onboarding_Reset_Suitability</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_Employee_Services</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Demo_Reset_Suitability</name>
        <label>Run Demo Reset - Suitability</label>
        <locationX>3152</locationX>
        <locationY>4262</locationY>
        <connector>
            <targetReference>Set_Stage_as_Done</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_Suitability</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Demo_Reset_Suitability_Hiring</name>
        <label>Run Demo Reset - Suitability</label>
        <locationX>2888</locationX>
        <locationY>4262</locationY>
        <connector>
            <targetReference>Run_Hiring_Reset</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_Suitability</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Demo_Reset_Suitability_Recruiting</name>
        <label>Run Demo Reset - Suitability</label>
        <locationX>2624</locationX>
        <locationY>4262</locationY>
        <connector>
            <targetReference>Run_Hiring_Reset_Recruiting</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_Suitability</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Hiring_Reset</name>
        <label>Run Hiring Reset</label>
        <locationX>2888</locationX>
        <locationY>4382</locationY>
        <connector>
            <targetReference>Set_Stage_as_Done</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_Hiring</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Hiring_Reset_Recruiting</name>
        <label>Run Hiring Reset</label>
        <locationX>2624</locationX>
        <locationY>4382</locationY>
        <connector>
            <targetReference>Run_Recruiting_Reset</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_Hiring</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_New_Hire_Onboarding_Reset</name>
        <label>Run New Hire Onboarding Reset</label>
        <locationX>3416</locationX>
        <locationY>4142</locationY>
        <connector>
            <targetReference>New_Hire_Onboarding_Wizard_Email</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_New_Hire_Onboarding</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_New_Hire_Onboarding_Reset_Hiring</name>
        <label>Run New Hire Onboarding Reset</label>
        <locationX>2888</locationX>
        <locationY>4142</locationY>
        <connector>
            <targetReference>Run_Demo_Reset_Suitability_Hiring</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_New_Hire_Onboarding</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_New_Hire_Onboarding_Reset_Recruiting</name>
        <label>Run New Hire Onboarding Reset</label>
        <locationX>2624</locationX>
        <locationY>4142</locationY>
        <connector>
            <targetReference>Run_Demo_Reset_Suitability_Recruiting</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_New_Hire_Onboarding</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_New_Hire_Onboarding_Reset_Suitability</name>
        <label>Run New Hire Onboarding Reset</label>
        <locationX>3152</locationX>
        <locationY>4142</locationY>
        <connector>
            <targetReference>Run_Demo_Reset_Suitability</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_New_Hire_Onboarding</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Recruiting_Reset</name>
        <label>Run Recruiting Reset</label>
        <locationX>2624</locationX>
        <locationY>4502</locationY>
        <connector>
            <targetReference>Set_Stage_as_Done</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tiles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextEstimatedCurrentPhase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
