force-app/main/default/flows/Demo_Reset_Master.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Reset_Options_Stage</name>
        <label>Set Reset Options Stage</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reset_Options</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scenario_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Select_Scenario_Stage</name>
        <label>Set Select Scenario Stage</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Scenario</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Tiles_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_as_Done</name>
        <label>Set Stage as Done</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Done</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completion_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tiles_Assignment</name>
        <label>Set Tiles Assignment</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>New Hire Onboarding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Telework Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Personnel Action Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tiles</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Workforce Management</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choicePARDutyStationChange</name>
        <choiceText>&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Duty Station Change PAR&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARDutyStationChange</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePARNameChange</name>
        <choiceText>&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Name Change PAR&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARNameChange</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceWFMEmployeeMisconduct</name>
        <choiceText>&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Employee Misconduct&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WFMEmployeeMisconduct</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Scenario_Decision</name>
        <label>Scenario Decision</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_as_Done</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Telework_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>datagrid.firstSelectedItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telework Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Telework_Agreement_Reset</targetReference>
            </connector>
            <label>Telework Agreement</label>
        </rules>
        <rules>
            <name>New_Hire_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>datagrid.firstSelectedItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Hire Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Hire_Onboarding_Reset</targetReference>
            </connector>
            <label>New Hire Onboarding</label>
        </rules>
        <rules>
            <name>Personnel_Action_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>datagrid.firstSelectedItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personnel Action Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PAR_Reset</targetReference>
            </connector>
            <label>Personnel Action Request</label>
        </rules>
        <rules>
            <name>Workforce_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>datagrid.firstSelectedItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Workforce Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Workforce_Management_Reset</targetReference>
            </connector>
            <label>Workforce Management</label>
        </rules>
    </decisions>
    <description>Master Demo Reset Flow</description>
    <dynamicChoiceSets>
        <name>RecChoiceNewHires</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New-Hire</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Demo Reset - Master {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Reset - Master</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Completion_Screen</name>
        <label>Completion Screen</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completion_Screen_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Demo Reset Flow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this Flow to quickly reset Demo Scenarios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Completion_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Completion_Screen_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Completion_Screen_NextDT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Demo Reset has completed, click &quot;Finish&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Hire_Onboarding_Reset</name>
        <label>New Hire Onboarding Reset</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Run_New_Hire_Onboarding_Reset</targetReference>
        </connector>
        <fields>
            <name>New_Hire_Onboarding_Reset_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>New Hire Onboarding Reset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this Flow to quickly reset Demo Scenarios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>New_Hire_Onboarding_Reset_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Hire_Onboarding_Reset_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>New_Hire_Onboarding_Resett_BDT</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;i&gt;Resets a new hire to the beginning of the onboarding scenario (&quot;Suitability&quot; phase).&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Button does the following to &lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;the employee&apos;s contact record:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Employment_Status__c = &quot;New-Hire&quot;&lt;/li&gt;&lt;li&gt;New_Hire_Manager_Flow_Complete__c = FALSE&lt;/li&gt;&lt;li&gt;Employee_ID__c set to BLANK&lt;/li&gt;&lt;li&gt;Duty_Location__c set to BLANK&lt;/li&gt;&lt;li&gt;Resets the employee&apos;s contact profile image to the generic one (via setEmployeePhoto Trigger)&lt;/li&gt;&lt;li&gt;Deletes all tasks, cases, events, course enrollments, performance plans, and assets on the employee&apos;s contact record&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please select an Employee to reset:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Hire_Onboarding_Employee_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Employee (Contact)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Telework_Agreement_Reset_NextDT_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;To proceed, click &quot;Next&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PAR_Reset</name>
        <label>Personnel Action Request Reset</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Run_PAR_Reset</targetReference>
        </connector>
        <fields>
            <name>PAR_Reset_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>PAR Reset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this Flow to quickly reset Demo Scenarios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PAR_Reset_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PAR_Reset_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PAR_Reset_BDT</name>
            <fieldText>&lt;p&gt;&lt;b&gt;This flow will reset Eva Bisset for the Personnel Action Request scenarios.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;During the demo you updated her record details.  This flow will reset Eva to factory settings, meaning it&apos;s only designed to reset values for PAR processes that shipped with the demo org.  Update this flow to account for any customizations you&apos;ve made to PAR scenarios.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PAR_Employee_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Employee__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Eva&apos;s Current Employee Contact:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Personnel_Action__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PAR_Process_You_Used</name>
            <choiceReferences>choicePARNameChange</choiceReferences>
            <choiceReferences>choicePARDutyStationChange</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PAR Process You Used:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PAR_Reset_NextDT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;To proceed, select Eva&apos;s contact record, the PAR process you used, and click &quot;Next&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Telework_Agreement_Reset</name>
        <label>Telework_Agreement_Reset</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Run_Telework_Agreement_Reset</targetReference>
        </connector>
        <fields>
            <name>Telework_Agreement_Reset_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Telework Agreement Reset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this Flow to quickly reset Demo Scenarios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Telework_Agreement_Reset_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Telework_Agreement_Reset_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Telework_Agreement_Reset_BDT</name>
            <fieldText>&lt;p&gt;Please select an Employee to reset&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Telework_Agreement_Employee_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Employee (Contact)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Telework_Agreement_Reset_NextDT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;To proceed, click &quot;Next&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Reset_Options_Stage</targetReference>
        </connector>
        <fields>
            <name>Welcome_Screen_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Demo Reset Flow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this Flow to quickly reset Demo Scenarios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Welcome_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Welecome_Screen_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Welcome_Screen_DT</name>
            <fieldText>&lt;p&gt;This flow will allow you to reset most of the demo scenarios. Just select a scenario, pick you options and go!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>datagrid</name>
            <extensionName>FDGPack:GilmoreLabs_FlowTileGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstInput</name>
                <value>
                    <elementReference>Tiles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tileSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Welcome_Screen_NextDT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;To proceed, click &quot;Next&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Workforce_Management_Reset</name>
        <label>Workforce Management Reset</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Run_Workforce_Management_Reset</targetReference>
        </connector>
        <fields>
            <name>Workforce_Management_Reset_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Workforce Management Reset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this Flow to quickly reset Demo Scenarios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Workforce_Management_Reset_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Workforce_Management_Reset_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Workforce_Management_Reset_BDT</name>
            <fieldText>&lt;p&gt;&lt;b&gt;This flow will delete any Workforce Management Cases related to Employee (Contact) for the specified WFM Case Type.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Workforce_Management_Employee_Lookup_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Employee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>WFM_Process_You_Used</name>
            <choiceReferences>choiceWFMEmployeeMisconduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Workforce Management Process you Used</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Workforce_Management_Reset_NextDT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;To proceed, click &quot;Next&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Done</name>
        <isActive>true</isActive>
        <label>Done</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Reset_Options</name>
        <isActive>true</isActive>
        <label>Reset Options</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Select_Scenario</name>
        <isActive>true</isActive>
        <label>Select Scenario</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Select_Scenario_Stage</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Run_New_Hire_Onboarding_Reset</name>
        <label>Run New Hire Onboarding Reset</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Set_Stage_as_Done</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_New_Hire_Onboarding</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>New_Hire_Onboarding_Employee_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_PAR_Reset</name>
        <label>Run PAR Reset</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Set_Stage_as_Done</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_PAR</flowName>
        <inputAssignments>
            <name>Par_Process_You_Used</name>
            <value>
                <elementReference>PAR_Process_You_Used</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>PAR_Employee_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Telework_Agreement_Reset</name>
        <label>Run Telework Agreement Reset</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Set_Stage_as_Done</targetReference>
        </connector>
        <flowName>Demo_Reset_Telework_Agreement</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Telework_Agreement_Employee_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Workforce_Management_Reset</name>
        <label>Run Workforce Management Reset</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Set_Stage_as_Done</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_WFM</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Workforce_Management_Employee_Lookup_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WFM_Process_You_Used</name>
            <value>
                <elementReference>WFM_Process_You_Used</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Tiles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
