force-app/main/default/flows/Employee_Relations_Employee_Misconduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Incident_Stage</name>
        <label>Incident Stage</label>
        <locationX>248</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Incident</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Supervisor_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Info</name>
        <label>Set Case Info</label>
        <locationX>248</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>NewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee Misconduct Case</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecWorkforceManagerUser.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecEmployeeContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee Service Catalog</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Nature_of_Employee_Incident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nature_of_Incident</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Logged_In_User_Contact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee Misconduct</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Reported_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncidentReportedBy.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_of_Misconduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Date_of_Incident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Incident</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Employee_Contact_Record_Id</name>
        <label>Set Employee Contact Record Id</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varTextEmployeeContacdtId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Employee_Contact_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Employee_Contact_Record_Id_Supervisor</name>
        <label>Set Employee Contact Record Id (Supervisor)</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>varTextEmployeeContacdtId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Employee_Supervisor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Employee_Contact_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Employee_Contact_Record_Id_WFM</name>
        <label>Set Employee Contact Record Id (WFM)</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>varTextEmployeeContacdtId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee_Select_Screen_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Employee_Contact_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Select_Employee_Stage</name>
        <label>Set Select Employee Stage</label>
        <locationX>248</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Employee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_recordId_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Review</name>
        <label>Set Stage to Review</label>
        <locationX>248</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Welcome_Stage</name>
        <label>Set Welcome Stage</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Welcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Was an input recordId Provided?</description>
        <name>Contact_recordId_Decision</name>
        <label>Contact recordId Decision</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Employee_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Record not Provided</defaultConnectorLabel>
        <rules>
            <name>Contact_Record_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Employee_Contact_Record_Id</targetReference>
            </connector>
            <label>Contact Record Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employee_Type</name>
        <label>Employee Type</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Employee_Select_Screen_Supervisor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Supervisor</defaultConnectorLabel>
        <rules>
            <name>Workforce_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Logged_In_User_Contact.Workforce_Manager_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employee_Select_Screen_WFM</targetReference>
            </connector>
            <label>Workforce Manager</label>
        </rules>
    </decisions>
    <description>For filing an Employee Relations Employee Misconduct Request</description>
    <dynamicChoiceSets>
        <name>NatureOfIncident</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Nature_of_Employee_Incident__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarRChoiceSupervisorEmployees</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReportsToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Logged_In_User_Contact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkSchedule</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Work_Schedule__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>IsBargainingUnit</name>
        <dataType>String</dataType>
        <expression>IF({!varRecEmployeeContact.Bargaining_Unit__c} != null, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <interviewLabel>Employee Relations - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Relations - Employee Misconduct</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>248</locationX>
        <locationY>2630</locationY>
        <inputReference>NewCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_RecordType</name>
        <label>Get Case RecordType</label>
        <locationX>248</locationX>
        <locationY>2390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ER_Case_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Contact_0_0</name>
        <label>Get Employee Contact</label>
        <locationX>248</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Incident_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTextEmployeeContacdtId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varRecEmployeeContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Duty_Location__c</queriedFields>
        <queriedFields>Duty_Station__c</queriedFields>
        <queriedFields>ReportsToIdName__c</queriedFields>
        <queriedFields>ReportsToId</queriedFields>
        <queriedFields>User_Record__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Bargaining_Unit__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Work_Schedule__c</queriedFields>
        <queriedFields>Default_Workforce_Manager__c</queriedFields>
        <queriedFields>Department</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>get Logged In User</description>
        <name>Get_Logged_In_User</name>
        <label>Get Logged In User</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Logged_In_User_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Logged_In_User_Contact</name>
        <label>Get Logged In User Contact</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Welcome_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Logged_In_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Supervisor_Contact_Record</name>
        <label>Get Supervisor Contact Record</label>
        <locationX>248</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Workforce_Manager_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecEmployeeContact.ReportsTo.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varRecSupervisorContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>User_Record__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Workforce_Manager_Contact</name>
        <label>Get Workforce Manager Contact</label>
        <locationX>248</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Workforce_Manager_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecEmployeeContact.Default_Workforce_Manager__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varRecWorkforceManagerContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>User_Record__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Workforce_Manager_User</name>
        <label>Get Workforce Manager User</label>
        <locationX>248</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Incident_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecWorkforceManagerContact.User_Record__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varRecWorkforceManagerUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Employee_Select_Screen_Supervisor</name>
        <label>Employee Select Screen (Supervisor)</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Employee_Contact_Record_Id_Supervisor</targetReference>
        </connector>
        <fields>
            <name>Employee_Select_Screen_Supervisor_Header_0</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Employee Misconduct</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this form to submit an Employee Misconduct Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>action:follow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Employee_Select_Screen_Supervisor_PI_0</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Employee_Select_Screen_Supervisor_HeaderHR_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Employee_Supervisor</name>
            <choiceReferences>VarRChoiceSupervisorEmployees</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Employee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Employee_Select_Screen_Supervisor_DT</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Employee_Select_Screen_WFM</name>
        <label>Employee Select Screen (WFM)</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Employee_Contact_Record_Id_WFM</targetReference>
        </connector>
        <fields>
            <name>Employee_Select_Screen_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Employee Misconduct</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this form to submit an Employee Misconduct Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>action:follow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Employee_Select_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Employee_Select_Screen_HeaderHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Employee_Select_Screen_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Employee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Employee_Select_Screen_DT</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Incident_Information</name>
        <label>Incident Information</label>
        <locationX>248</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_to_Review</targetReference>
        </connector>
        <fields>
            <name>Incident_Information_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Employee Misconduct</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this form to submit an Employee Misconduct Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>action:follow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Incident_Information_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Incident_Information_HR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DT1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;EMPLOYEE INFORMATION&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Incident_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT_Left</name>
                    <fieldText>&lt;p&gt;&lt;u&gt;Employee Name&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!varRecEmployeeContact.Name}﻿&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Supervisor&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!varRecSupervisorContact.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Division&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;&lt;/u&gt;{!varRecEmployeeContact.Department}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT2</name>
                    <fieldText>&lt;p&gt;&lt;u&gt;Employee Type&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!varRecEmployeeContact.Work_Schedule__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Bargaining Status&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!IsBargainingUnit}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Workforce Management Rep&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!varRecWorkforceManagerContact.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Information_HR2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>employeeInfoDT</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;INCIDENT INFORMATION&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Incident_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nature_of_Incident</name>
                    <choiceReferences>NatureOfIncident</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Nature of Incident</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Date_of_Incident</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Incident</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IncidentReportedBy</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Incident Reported By</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Logged_In_User_Contact.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description_of_Misconduct</name>
            <fieldText>Description of Misconduct</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Information_DT</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Screen</name>
        <label>Review Screen</label>
        <locationX>248</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Case_RecordType</targetReference>
        </connector>
        <fields>
            <name>Review_Screen_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Employee Misconduct</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this form to submit an Employee Misconduct Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>action:follow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Review_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Review_Screen_HeaderHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Review_Screen_DTHeader1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;EMPLOYEE INFORMATION&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Screen_DT1</name>
                    <fieldText>&lt;p&gt;&lt;u&gt;Employee Name&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!varRecEmployeeContact.Name}﻿&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Supervisor&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!varRecSupervisorContact.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Division&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!varRecEmployeeContact.Department}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Screen_DT2</name>
                    <fieldText>&lt;p&gt;&lt;u&gt;Employee Type&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!varRecEmployeeContact.Work_Schedule__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Bargaining Status&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!IsBargainingUnit}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Workforce Management Rep&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!varRecWorkforceManagerContact.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Review_Screen_HeaderHR2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Review_Screen_DTHeader2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;INCIDENT INFORMATION&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Screen_DT3</name>
                    <fieldText>&lt;p&gt;&lt;u&gt;Nature of Incident&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!Nature_of_Incident}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Date of Incident&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!Date_of_Incident}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Screen_DT4</name>
                    <fieldText>&lt;p&gt;&lt;u&gt;Incident Reported By&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!IncidentReportedBy.recordName}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Review_Screen_DT5</name>
            <fieldText>&lt;p&gt;&lt;u&gt;Description of Misconduct&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!Description_of_Misconduct}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Screen_ScreenDT</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>248</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Select_Employee_Stage</targetReference>
        </connector>
        <fields>
            <name>Welcome_Screen_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Employee Misconduct</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this form to submit an Employee Misconduct Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>action:follow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Welcome_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Welcome_Screen_DT</name>
            <fieldText>&lt;p&gt;&lt;b&gt;About Filing a Employee Misconduct Incident:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;If an employee’s job performance becomes unacceptable under a critical job element,&lt;/p&gt;&lt;p&gt;supervisors should promptly address this matter with the employee. There are two formal procedures a supervisor may use in resolving unacceptable performance: Chapter 43 and Chapter 75 of Title 5 of the U.S. Code.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;At the earliest opportunity, the supervisor should work with the Human Resources Office&lt;/p&gt;&lt;p&gt;Employee Relations staff to determine the appropriate procedure for resolving the poor performance and whether placing the employee on a Performance Improvement Plan&lt;/p&gt;&lt;p&gt;(PIP) under 5 U.S.C. Chapter 43, a specific measurable action plan, is appropriate. 11&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Employee Relations staff will also guide the supervisor on the specific regulatory requirements of the process and assist in providing a good foundation from the onset. If a&lt;/p&gt;&lt;p&gt;PIP is appropriate, the supervisor should work with the Employee Relations staff to draft the PIP and determine how long the PIP will last; its duration will generally depend on&lt;/p&gt;&lt;p&gt;the duties and responsibilities of the employee’s position and the nature of the unacceptable performance. A PIP should include the following:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The critical job element(s) being performed unacceptably;&lt;/li&gt;&lt;li&gt;Examples of the employee’s unacceptable performance under each critical element (not required but recommended);&lt;/li&gt;&lt;li&gt;An explanation of the minimally acceptable level of performance required;&lt;/li&gt;&lt;li&gt;An explanation of what the employee must do to demonstrate acceptable performance;&lt;/li&gt;&lt;li&gt;Specific tools and support to be provided to help the employee improve during this period as required under 5 CFR 432.104;&lt;/li&gt;&lt;li&gt;How long the PIP will remain in effect; and&lt;/li&gt;&lt;li&gt;Consequences of failure to improve performance to an acceptable level.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Screen_HeaderHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Welcome_Screen_NextDT</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Incident</name>
        <isActive>true</isActive>
        <label>Incident</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Review</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Select_Employee</name>
        <isActive>true</isActive>
        <label>Select Employee</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <description>Welcome Stage</description>
        <name>Welcome</name>
        <isActive>true</isActive>
        <label>Welcome</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Logged_In_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Employee Contact Record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Employee Contact Record</description>
        <name>varRecEmployeeContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Employee User Record</description>
        <name>varRecEmployeeUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserRole</objectType>
    </variables>
    <variables>
        <name>varRecSupervisorContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Supervisor User Account</description>
        <name>varRecSupervisorUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Workforce Manager Contact</description>
        <name>varRecWorkforceManagerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Workforce Manager User</description>
        <name>varRecWorkforceManagerUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varTextEmployeeContacdtId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextSupervisorContacdtId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
