force-app/main/default/flows/New_Hire_Onboarding_Autolaunch_5_Days_Before_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post</name>
        <label>Chatter Post</label>
        <locationX>138</locationX>
        <locationY>1430</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Create_GFLearn_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>varFormulaChatterPost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_GFLEarn_Notification</name>
        <label>Send GFLEarn Notification</label>
        <locationX>138</locationX>
        <locationY>1310</locationY>
        <actionName>Contact.Manager_5_days_till_GFLearn_notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Chatter_Post</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_New_Hire_Welcome_Email</name>
        <label>Send New Hire Welcome Email</label>
        <locationX>138</locationX>
        <locationY>1190</locationY>
        <actionName>Contact.New_Hire_Welcome_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_GFLEarn_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Close_Case_Assignment</name>
        <label>Close Case Assignment</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_cases.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_Assignment</name>
        <label>Update Contact Assignment</label>
        <locationX>138</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Run_Five_Days_Before_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Contact_Record</name>
        <label>Found Contact Record?</label>
        <locationX>270</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Contact_Record_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Cases_Found</name>
        <label>If Cases Found</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Send_New_Hire_Welcome_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cases_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_cases</targetReference>
            </connector>
            <label>Cases Found</label>
        </rules>
    </decisions>
    <description>This flow, which is part of the New Hire Onboarding Scenario, kicks off the Pre-Orientation automation. It closes all existing cases, creates a new escalated case, creates new tasks, and sends out Emails to Employee and Supervisor</description>
    <formulas>
        <name>varFormulaChatterPost</name>
        <dataType>String</dataType>
        <expression>&apos;A new GFLearn request has been created for $Record.LastName. Please grant access for the new employee. The case will be escalated.&apos;</expression>
    </formulas>
    <formulas>
        <name>varFormulaDateTomorrow</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <formulas>
        <name>varFormulaThreeDaysFromNow</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <interviewLabel>New Hire Onboarding Autolaunch - Post New Hire Onboarding   - V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Hire Onboarding Autolaunch - 5 Days Before Onboarding</label>
    <loops>
        <name>Loop_through_cases</name>
        <label>Loop through cases</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <collectionReference>varCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Close_Case_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_New_Hire_Welcome_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_GFLearn_Case</name>
        <label>Create GFLearn Case</label>
        <locationX>138</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Update_Contact_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>New employee is being onboarded. Please create a new GFLearn account.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GFLearn_Access__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Contact_Record.ReportsTo.User_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Access Request: GFLearn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Get_Contact_Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>Get_Contact_Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Access Request</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>138</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Cases_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>270</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Loop_through_cases</targetReference>
        </connector>
        <inputReference>Loop_through_cases</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>138</locationX>
        <locationY>1790</locationY>
        <inputReference>Get_Contact_Record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
