force-app/main/default/flows/New_Hire_Onboarding_Active_Employee_Autolaunch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_New_Hire_Welcome_Email</name>
        <label>Send New Hire Welcome Email</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <actionName>Contact.New_Hire_Welcome_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Demo_Setup_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Update_Contact_Assignment</name>
        <label>Update Contact Assignment</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.Employment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Employee_Retirement_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_Retirement_Plan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Employee_Life_Insurance_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_Life_Insurance.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Demo_Setup_Record</name>
        <label>Found Demo Setup Record?</label>
        <locationX>182</locationX>
        <locationY>2078</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Demo_Setup_Record_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demo_Setup_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>FivedaysfromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 5</expression>
    </formulas>
    <formulas>
        <name>PerformancePlanTaskDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Review and discuss your position description and core competencies with your supervisor, &apos; &amp; {!Get_Contact.ReportsTo.FirstName}  &amp; &apos; &apos; &amp; {!Get_Contact.ReportsTo.LastName} &amp; &apos;.  You will be guided to create your initial performance standards plan&apos;</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>TwoDaysfromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 2</expression>
    </formulas>
    <interviewLabel>New Hire Onboarding - Active Employee (Autolaunch) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Hire Onboarding Autolaunch - Activate Employee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_FISSA</name>
        <label>Create Task - FISSA</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Run_Assign_Assets</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FivedaysfromToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Complete Federal Information Systems Security Awareness (FISSA) + Privacy Records Management Training.  To access this training click the link below.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Link_Label__c</field>
            <value>
                <stringValue>Go to FISSA Training Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Link_URL__c</field>
            <value>
                <stringValue>https://trailhead.salesforce.com/home</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Task_Type__c</field>
            <value>
                <stringValue>Link</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Contact.User_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Complete Compliance Training</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_New_Hire_Orientation</name>
        <label>Create Task - New Hire Orientation</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_Task_Performance_Plan</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Attend the weekly New Hire Orientation event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Task_Type__c</field>
            <value>
                <stringValue>General Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Contact.User_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Hire Orientation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Performance_Plan</name>
        <label>Create Task - Performance Plan</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Create_Task_Upload_I_9</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FivedaysfromToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>PerformancePlanTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Task_Type__c</field>
            <value>
                <stringValue>General Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Contact.User_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Initial Performance Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Review_Security_Safety_Procedures</name>
        <label>Create Task - Review Security/Safety Procedures</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Create_Task_New_Hire_Orientation</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TwoDaysfromToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Review the Security and Safety procedures for your facility.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Task_Type__c</field>
            <value>
                <stringValue>General Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Contact.User_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Review Security/Safety Procedures</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Upload_I_9</name>
        <label>Create Task - Upload I-9</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Create_Task_FISSA</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>You must upload a completed I-9 on your first day.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Flow_Name__c</field>
            <value>
                <stringValue>New_Hire_Task_Upload_I_9_Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Task_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Contact.User_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>URGENT:  Upload I-9</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_Life_Insurance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Setup_Record</name>
        <label>Get Demo Setup Record</label>
        <locationX>182</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Demo_Setup_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demo_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Life_Insurance</name>
        <label>Get Employee Life Insurance</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_Retirement_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>90</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee_Life_Insurance_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Retirement_Plan</name>
        <label>Get Employee Retirement Plan</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee_Retirement_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Run_Close_Cases</targetReference>
        </connector>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Run_Contact_Autolaunch_Set_Employee_Photo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.User_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Assign_Assets</name>
        <label>Run Assign Assets</label>
        <locationX>182</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Run_Create_Performance_Plan</targetReference>
        </connector>
        <flowName>EmployeeAssignAssetsFlow</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Run_Close_Cases</name>
        <label>Run Close Cases</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Create_Task_Review_Security_Safety_Procedures</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch_Close_Cases</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Contact_Autolaunch_Set_Employee_Photo</name>
        <label>Run Contact Autolaunch - Set Employee Photo</label>
        <locationX>50</locationX>
        <locationY>2318</locationY>
        <flowName>Contact_Autolaunch_Set_Employee_Photo</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demo_Setup_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Create_Performance_Plan</name>
        <label>Run Create Performance Plan</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Run_Enroll_in_Position_Courses</targetReference>
        </connector>
        <flowName>Create_Performance_Management_Plan</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Run_Enroll_in_Position_Courses</name>
        <label>Run Enroll in Position Courses</label>
        <locationX>182</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>Send_New_Hire_Welcome_Email</targetReference>
        </connector>
        <flowName>EmployeeEnrollInPositionCoursesFlow</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
