force-app/main/default/flows/New_Hire_Onboarding_Autolaunch_Post_New_Hire_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post</name>
        <label>Chatter Post</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Create_Task_Update_Contact_Info</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>varFormulaChatterPost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_GFLEarn_Notification</name>
        <label>Send GFLEarn Notification</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <actionName>Contact.Manager_5_days_till_GFLearn_notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Chatter_Post</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_New_Hire_Welcome_Email</name>
        <label>Send New Hire Welcome Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Contact.New_Hire_Welcome_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_GFLEarn_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Wizard_was_just_completed_Decision</name>
        <label>Wizard was just completed Decision</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Newly_completed_Wizard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.New_Hire_Manager_Flow_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Hire_Manager_Flow_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_New_Hire_Welcome_Email</targetReference>
            </connector>
            <label>Newly completed Wizard</label>
        </rules>
    </decisions>
    <formulas>
        <name>varFormulaChatterPost</name>
        <dataType>String</dataType>
        <expression>&apos;A new GFLearn request has been created for $Record.LastName. Please grant access for the new employee. The case will be escalated.&apos;</expression>
    </formulas>
    <formulas>
        <name>varFormulaDateTomorrow</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <formulas>
        <name>varFormulaNextWeekDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()+7</expression>
    </formulas>
    <formulas>
        <name>varFormulaThreeDaysFromNow</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <interviewLabel>New Hire Onboarding Autolaunch - Post New Hire Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Hire Onboarding Autolaunch - Post New Hire Onboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_GFLearn_Case</name>
        <label>Create GFLearn Case</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>New employee is being onboarded. Please create a new GFLearn account.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GFLearn_Access__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ReportsTo.User_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Access Request: GFLearn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Access Request</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Beneficiary_Form</name>
        <label>Create Task - Beneficiary Form</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Create_GFLearn_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varFormulaDateTomorrow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please complete and submit your beneficiary form.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Link_Label__c</field>
            <value>
                <stringValue>Go to USAStaffing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Link_URL__c</field>
            <value>
                <stringValue>https://onboard.usastaffing.gov/Account/Login</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Task_Type__c</field>
            <value>
                <stringValue>Link</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Complete Your Beneficiary Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Update_Contact_Info</name>
        <label>Create Task - Update Contact Info</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Create_Task_Beneficiary_Form</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varFormulaThreeDaysFromNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please review your contact details and make sure we have your most current info.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Flow_Name__c</field>
            <value>
                <stringValue> New_Hire_Task_Update_Contact_Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Task_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Update Your Contact Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Wizard_was_just_completed_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>New_Hire_Manager_Flow_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New-Hire</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
