force-app/main/default/flows/Recruit_Create_a_Recruit_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_About_You_Stage</name>
        <label>Assign About You Stage</label>
        <locationX>418</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>About_You</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>About_You_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Additional_Info_Stage</name>
        <label>Assign Additional Info Stage</label>
        <locationX>418</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Recruit_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Info_Stage</name>
        <label>Assign Contact Info Stage</label>
        <locationX>418</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Information_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Question_Count</name>
        <label>Assign Question Count</label>
        <locationX>286</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>varQuestionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Recruit_Questions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_LWC_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sent_Stage</name>
        <label>Assign Sent Stage</label>
        <locationX>418</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completion_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Welcome_Stage</name>
        <label>Assign Welcome Stage</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Welcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Recruiting_Demo_Setup_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Total_Question_Score</name>
        <label>Increment Total Question Score</label>
        <locationX>374</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>varTotalQuestionScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNewTotalQuestionScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_LWC_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_Assignment</name>
        <label>Update Lead Assignment</label>
        <locationX>418</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>Get_Recruiting_Demo_Setup_Record.Recruit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createRecruit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Demo_Setup</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>varChoiceDefaultAreaOfInterest</name>
        <choiceText>{!Get_Recruiting_Demo_Setup_Record.Area_of_Interest__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Recruiting_Demo_Setup_Record.Area_of_Interest__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>varChoiceDefaultEducationLevel</name>
        <choiceText>{!Get_Recruiting_Demo_Setup_Record.Education_Level_New__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Recruiting_Demo_Setup_Record.Education_Level_New__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>varChoiceDefaultEthnicity</name>
        <choiceText>{!Get_Recruiting_Demo_Setup_Record.Ethnicity__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Recruiting_Demo_Setup_Record.Ethnicity__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>varChoiceDefaultGender</name>
        <choiceText>{!Get_Recruiting_Demo_Setup_Record.Gender__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Recruiting_Demo_Setup_Record.Gender__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>varChoiceDefaultMaritalStatus</name>
        <choiceText>{!Get_Recruiting_Demo_Setup_Record.Marital_Status__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Recruiting_Demo_Setup_Record.Marital_Status__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>varChoiceDefaultPriorMilitaryService</name>
        <choiceText>{!Get_Recruiting_Demo_Setup_Record.Prior_Military_Service__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Recruiting_Demo_Setup_Record.Prior_Military_Service__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>varChoiceDefaultRacialCategory</name>
        <choiceText>{!Get_Recruiting_Demo_Setup_Record.Racial_Category__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Recruiting_Demo_Setup_Record.Racial_Category__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>varChoiceDefaultServiceBranch</name>
        <choiceText>{!Get_Recruiting_Demo_Setup_Record.Service_Branch__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Recruiting_Demo_Setup_Record.Service_Branch__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>varChoiceDefaultUSCitizen</name>
        <choiceText>{!Get_Recruiting_Demo_Setup_Record.US_Citizen__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Recruiting_Demo_Setup_Record.US_Citizen__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>decRecordFound</name>
        <label>Record Found?</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Info_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>outNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recruiting_Demo_Setup_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>LWC_Recruit_Questions_Exist</name>
        <label>LWC Recruit Questions Exist?</label>
        <locationX>418</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Update_Recruit_Answers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>LWC_Recruit_Questions_Exist_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recruit_Questions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Question_Count</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recruit_Questions_Provided</name>
        <label>Recruit Questions Provided</label>
        <locationX>418</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>createRecruit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recruit_Questions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Information_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Form that shows up in Community to create a recruit</description>
    <dynamicChoiceSets>
        <name>varPickChoiceEducationLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Education_Level_New__c</picklistField>
        <picklistObject>Demo_Setup__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPickChoiceEthnicity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ethnicity__c</picklistField>
        <picklistObject>Demo_Setup__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPickChoiceGender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Demo_Setup__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPickChoiceMaritalStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Marital_Status__c</picklistField>
        <picklistObject>Demo_Setup__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPickChoicePriorMilitaryService</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Prior_Military_Service__c</picklistField>
        <picklistObject>Demo_Setup__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPickChoiceRacialCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Racial_Category__c</picklistField>
        <picklistObject>Demo_Setup__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPickChoiceServiceBranch</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Branch__c</picklistField>
        <picklistObject>Demo_Setup__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPickChoiceSetAreaOfInterest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Area_of_Interest__c</picklistField>
        <picklistObject>Demo_Setup__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPickChoiceUSCitizen</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>US_Citizen__c</picklistField>
        <picklistObject>Demo_Setup__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPickChoiceVeteranPreference</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Veteran__c</picklistField>
        <picklistObject>Demo_Setup__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>formulaNewTotalQuestionScore</name>
        <dataType>Number</dataType>
        <expression>{!varTotalQuestionScore} + {!Loop_Through_LWC_Results.Answer_Score__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Recruit - Create a Recruit Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recruit - Create a Recruit Form</label>
    <loops>
        <name>Loop_Through_LWC_Results</name>
        <label>Loop Through LWC Results</label>
        <locationX>286</locationX>
        <locationY>2174</locationY>
        <collectionReference>Recruit_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Recruit_Question</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Recruit_Answers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Recruit_Question</name>
        <label>Create Recruit Question</label>
        <locationX>374</locationX>
        <locationY>2294</locationY>
        <connector>
            <targetReference>Increment_Total_Question_Score</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer_Score__c</field>
            <value>
                <elementReference>Loop_Through_LWC_Results.Answer_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Loop_Through_LWC_Results.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruit_Answer__c</field>
            <value>
                <elementReference>Loop_Through_LWC_Results.Recruit_Answer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruit__c</field>
            <value>
                <elementReference>createRecruit</elementReference>
            </value>
        </inputAssignments>
        <object>Recruit_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createCampaignMember</name>
        <label>Create Campaign Member</label>
        <locationX>418</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Assign_Sent_Stage</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Recruiting_Demo_Setup_Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>createRecruit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createRecruit</name>
        <label>Create Recruit</label>
        <locationX>418</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Update_Lead_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Recruiting_Demo_Setup_Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Area_of_Interest__c</field>
            <value>
                <elementReference>Form_Input_Area_Of_Interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Form_Input_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Get_Recruiting_Demo_Setup_Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>Form_Input_Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education_Level_New__c</field>
            <value>
                <elementReference>Form_Input_Education_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Form_Input_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ethnicity__c</field>
            <value>
                <elementReference>Form_Input_Ethnicity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Form_Input_Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Form_Input_Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Opening__c</field>
            <value>
                <elementReference>Get_Recruiting_Demo_Setup_Record.Job_Opening__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Form_Input_Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Law_Enforcement_Experience__c</field>
            <value>
                <elementReference>Form_Input_Law_Enforcement_Experience_Flag_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Recruiting_Demo_Setup_Record.Recruit_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>Form_Input_Marital_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Form_Input_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Telephone_Provider__c</field>
            <value>
                <elementReference>Get_Recruiting_Demo_Setup_Record.Mobile_Telephone_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Recruiting_Demo_Setup_Record.Recruiter_Owner_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Form_Input_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Form_Input_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Military_Service__c</field>
            <value>
                <elementReference>Form_Input_Prior_Military_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Racial_Category__c</field>
            <value>
                <elementReference>Form_Input_Racial_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Branch__c</field>
            <value>
                <elementReference>Form_Input_Service_Branch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Form_Input_Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Form_Input_Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>US_Citizen__c</field>
            <value>
                <elementReference>Form_Input_US_Citizen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Veteran__c</field>
            <value>
                <elementReference>Form_Input_Veteran_Preference</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Recruit_Questions</name>
        <label>Get Recruit Questions</label>
        <locationX>418</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recruit_Questions_Provided</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demo_Setup_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recruiting_Demo_Setup_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demo_Setup_Recruit_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recruiting_Demo_Setup_Record</name>
        <label>Get Recruiting Demo Setup Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decRecordFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Starting_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruiting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demo_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Demo_Setup</name>
        <label>Update Demo Setup</label>
        <locationX>418</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>LWC_Recruit_Questions_Exist</targetReference>
        </connector>
        <inputReference>Get_Recruiting_Demo_Setup_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recruit_Answers</name>
        <label>Update Recruit Answers</label>
        <locationX>418</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>createCampaignMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createRecruit</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Question_Count__c</field>
            <value>
                <elementReference>varQuestionCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Score__c</field>
            <value>
                <elementReference>varTotalQuestionScore</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>About_You_Screen</name>
        <label>About You Screen</label>
        <locationX>418</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Additional_Info_Stage</targetReference>
        </connector>
        <fields>
            <name>About_You_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>About_You_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>About_You_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>About_You_Screen_FSC</name>
                    <extensionName>c:horizontalRuleFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>About_You_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>About_You_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Form_Input_Date_of_Birth</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Recruiting_Demo_Setup_Record.Recruit_Date_of_Birth__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Form_Input_Education_Level</name>
                    <choiceReferences>varChoiceDefaultEducationLevel</choiceReferences>
                    <choiceReferences>varPickChoiceEducationLevel</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>varChoiceDefaultEducationLevel</defaultSelectedChoiceReference>
                    <fieldText>Education Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>About_You_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Form_Input_Gender</name>
                    <choiceReferences>varChoiceDefaultGender</choiceReferences>
                    <choiceReferences>varPickChoiceGender</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>varChoiceDefaultGender</defaultSelectedChoiceReference>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Form_Input_Marital_Status</name>
                    <choiceReferences>varChoiceDefaultMaritalStatus</choiceReferences>
                    <choiceReferences>varPickChoiceMaritalStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>varChoiceDefaultMaritalStatus</defaultSelectedChoiceReference>
                    <fieldText>Marital Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>About_You_Screen_Demographics_DT</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;DEMOGRAHICS&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>About_You_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>About_You_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Form_Input_US_Citizen</name>
                    <choiceReferences>varChoiceDefaultUSCitizen</choiceReferences>
                    <choiceReferences>varPickChoiceUSCitizen</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>varChoiceDefaultUSCitizen</defaultSelectedChoiceReference>
                    <fieldText>US Citizen</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>About_You_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Form_Input_Ethnicity</name>
                    <choiceReferences>varChoiceDefaultEthnicity</choiceReferences>
                    <choiceReferences>varPickChoiceEthnicity</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>varChoiceDefaultEthnicity</defaultSelectedChoiceReference>
                    <fieldText>Ethnicity</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Form_Input_Racial_Category</name>
                    <choiceReferences>varChoiceDefaultRacialCategory</choiceReferences>
                    <choiceReferences>varPickChoiceRacialCategory</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>varChoiceDefaultRacialCategory</defaultSelectedChoiceReference>
                    <fieldText>Racial Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>About_You_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>About_You_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>About_You_Screen_LEO_DT</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;LAW ENFORCEMENT EXPERIENCE&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Form_Input_Law_Enforcement_Experience_Flag_0</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Law Enforcement Experience</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Recruiting_Demo_Setup_Record.Law_Enforcement_Experience__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>About_You_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>About_You_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>About_You_Screen_Military_DT</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;MILITARY EXPERIENCE&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Form_Input_Prior_Military_Service</name>
                    <choiceReferences>varChoiceDefaultPriorMilitaryService</choiceReferences>
                    <choiceReferences>varPickChoicePriorMilitaryService</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>varChoiceDefaultPriorMilitaryService</defaultSelectedChoiceReference>
                    <fieldText>Prior Military Service</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Form_Input_Service_Branch</name>
                    <choiceReferences>varChoiceDefaultServiceBranch</choiceReferences>
                    <choiceReferences>varPickChoiceServiceBranch</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>varChoiceDefaultServiceBranch</defaultSelectedChoiceReference>
                    <fieldText>Branch of Service</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Form_Input_Prior_Military_Service</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Form_Input_Veteran_Preference</name>
                    <choiceReferences>varPickChoiceVeteranPreference</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Veteran Preference</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Form_Input_Prior_Military_Service</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Additional_Information_Screen</name>
        <label>Additional Information Screen</label>
        <locationX>286</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createRecruit</targetReference>
        </connector>
        <fields>
            <name>Additional_Information_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Information_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Information_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Additional_Information_Screen_FSC</name>
                    <extensionName>c:horizontalRuleFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Recruit_Question_Answers</name>
            <extensionName>c:eeFlowRecruitQuestionForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>demoSetupId</name>
                <value>
                    <elementReference>Get_Recruiting_Demo_Setup_Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Recruit_Questions</assignToReference>
                <name>recruitQuestions</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Completion_Screen</name>
        <label>Completion Screen</label>
        <locationX>418</locationX>
        <locationY>3086</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completion_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Completion_Screen_FSC</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Completion_Screen_Text</name>
            <fieldText>&lt;h1&gt;YOUR INFORMATION HAS BEEN SUBMITTED&lt;/h1&gt;&lt;p&gt;Thank you for your interest in {!Get_Recruiting_Demo_Setup_Record.Account__r.Name}. We appreciate you taking the time to provide your information.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You will receive an email confirmation and a QR code that you can use when speaking with a recruiter.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please select &quot;Finish&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_Information_Screen</name>
        <label>Contact Information Screen</label>
        <locationX>418</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_About_You_Stage</targetReference>
        </connector>
        <fields>
            <name>Contact_Information_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Information_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Information_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>General_Information_FSC</name>
                    <extensionName>c:horizontalRuleFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Form_Input_Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>Get_Recruiting_Demo_Setup_Record.Recruit_First_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>Get_Recruiting_Demo_Setup_Record.Recruit_Last_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Information_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Information_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Form_Input_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Recruiting_Demo_Setup_Record.Recruit_Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Information_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Form_Input_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Recruiting_Demo_Setup_Record.Recruit_MobilePhone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Form_Input_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Recruiting_Demo_Setup_Record.City__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Recruiting_Demo_Setup_Record.Postal_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_Recruiting_Demo_Setup_Record.State__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Recruiting_Demo_Setup_Record.Street__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contact_Information_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Information_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Form_Input_Area_Of_Interest</name>
                    <choiceReferences>varChoiceDefaultAreaOfInterest</choiceReferences>
                    <choiceReferences>varPickChoiceSetAreaOfInterest</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>varChoiceDefaultAreaOfInterest</defaultSelectedChoiceReference>
                    <fieldText>Area_Of_Interest</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>About_You</name>
        <isActive>true</isActive>
        <label>About You</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Additional_Information</name>
        <isActive>true</isActive>
        <label>Additional Information</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Contact_Information</name>
        <isActive>true</isActive>
        <label>Contact Information</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Sent</name>
        <isActive>true</isActive>
        <label>Sent</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Welcome</name>
        <isActive>true</isActive>
        <label>Welcome</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Welcome_Stage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Recruit_Questions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recruit_Question__c</objectType>
    </variables>
    <variables>
        <name>varQuestionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalQuestionScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
