force-app/main/default/flows/Recruit_Autolaunch_Create_Recruit_From_Demo_Setup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Question_Count</name>
        <label>Assign Question Count</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varNumQuestionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Demo_Setup_Recruiting_Questions_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Total_Question_Score</name>
        <label>Increment Total Question Score</label>
        <locationX>264</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>varNumTotalQuestionScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Questions.Default_Answer_Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Recruit_Id_for_Output</name>
        <label>Set New Recruit Id for Output</label>
        <locationX>176</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>newRecruitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Recruit_Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Demo_Record_Assignment</name>
        <label>Update Demo Record Assignment</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_Demo_Setup.Recruit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Recruit_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Demo_Setup_Record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Recruit Autolaunch - Create Recruit From Demo Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recruit Autolaunch - Create Recruit From Demo Setup</label>
    <loops>
        <name>Loop_Through_Questions</name>
        <label>Loop Through Questions</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <collectionReference>Get_Demo_Setup_Recruiting_Questions_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Recruit_Question</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Recruit_Question_Score</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_Demo_Setup_Recruiting_Questions_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Demo_Setup.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Create_New_Recruit_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Recruit_Record</name>
        <label>Create New Recruit Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Update_Demo_Record_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Area_of_Interest__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Area_of_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_Demo_Setup.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Get_Demo_Setup.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education_Level_New__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Education_Level_New__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ethnicity__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Ethnicity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Opening__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Job_Opening__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Law_Enforcement_Experience__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Law_Enforcement_Experience__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Marital_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Telephone_Provider__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Mobile_Telephone_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Demo_Setup.Recruiter_Owner_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Get_Demo_Setup.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Military_Service__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Prior_Military_Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Racial_Category__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Racial_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Branch__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Service_Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Get_Demo_Setup.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Get_Demo_Setup.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>US_Citizen__c</field>
            <value>
                <elementReference>Get_Demo_Setup.US_Citizen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Veteran__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Veteran__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Recruit_Question</name>
        <label>Create Recruit Question</label>
        <locationX>264</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Increment_Total_Question_Score</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer_Score__c</field>
            <value>
                <elementReference>Loop_Through_Questions.Default_Answer_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Loop_Through_Questions.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruit_Answer__c</field>
            <value>
                <elementReference>Loop_Through_Questions.Default_Answer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruit__c</field>
            <value>
                <elementReference>Create_New_Recruit_Record</elementReference>
            </value>
        </inputAssignments>
        <object>Recruit_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Demo_Setup</name>
        <label>Get Demo Setup</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Demo_Reset_Autolaunch_Recruiting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demo_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Setup_Recruiting_Questions_Records</name>
        <label>Get Demo Setup Recruiting Questions Records</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Question_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demo_Setup_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Demo_Setup_Recruit_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Demo_Setup_Record</name>
        <label>Update Demo Setup Record</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Create_Campaign_Member</targetReference>
        </connector>
        <inputReference>Get_Demo_Setup</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recruit_Question_Score</name>
        <label>Update Recruit Question Score</label>
        <locationX>176</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Set_New_Recruit_Id_for_Output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Recruit_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Question_Count__c</field>
            <value>
                <elementReference>varNumQuestionCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Score__c</field>
            <value>
                <elementReference>varNumTotalQuestionScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Demo_Setup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Demo_Reset_Autolaunch_Recruiting</name>
        <label>Run Demo Reset Autolaunch - Recruiting</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Create_New_Recruit_Record</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>newRecruitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumQuestionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNumTotalQuestionScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
