force-app/main/default/flows/Recruit_Autolaunch_Convert_Recruit_to_Applicant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assignment_Update_Applicant</name>
        <label>Assignment Update Applicant</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Applicant.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFormulaDateTenDaysFromToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USA Staffing - Converted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Job_Opening__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Job_Opening__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFormulaTextApplicantName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recruit.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Area_of_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recruit.Area_of_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recruit.Date_of_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Demo_Setup.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Racial_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recruit.Racial_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Marital_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recruit.Marital_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Education_Level_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recruit.Education_Level_New__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.US_Citizen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recruit.US_Citizen__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Law_Enforcement_Experience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recruit.Law_Enforcement_Experience__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recruit.Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Prior_Military_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recruit.Prior_Military_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Ethnicity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recruit.Ethnicity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Veteran__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recruit.Veteran__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.Service_Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recruit.Service_Branch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Applicant.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Update_Recruit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Update_Recruit</name>
        <label>Assignment Update Recruit</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Recruit.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Applied</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Recruit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_Record_Id_Provided</name>
        <label>Was Record Id Provided?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Was_Record_Id_Provided_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recruit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>varFormulaDateTenDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()+10</expression>
    </formulas>
    <formulas>
        <name>varFormulaDateThreeDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <name>varFormulaTextApplicantName</name>
        <dataType>String</dataType>
        <expression>&apos;Applicant - &apos; + {!Get_Recruit.FirstName} + &apos; &apos; + {!Get_Recruit.LastName} + &apos; :: Area of Interest: &apos; + TEXT({!Get_Recruit.Area_of_Interest__c})</expression>
    </formulas>
    <interviewLabel>Recruit Autolaunch - Convert Recruit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recruit Autolaunch - Convert Recruit to Applicant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Applicant</name>
        <label>Get Applicant</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Update_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup.Applicant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Setup</name>
        <label>Get Demo Setup</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recruit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recruit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demo_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recruit</name>
        <label>Get Recruit</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Demo_Setup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Applicant</name>
        <label>Update Applicant</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_Job_Opening</targetReference>
        </connector>
        <inputReference>Get_Applicant</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Education_Level_New__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Education_Level_New__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Marital_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_of_Birth__c</field>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_Place_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Get_Demo_Setup.Recruit_Salutation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_Opening</name>
        <label>Update Job Opening</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Update_Recruit_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demo_Setup.Job_Opening__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closing_Date__c</field>
            <value>
                <elementReference>varFormulaDateThreeDaysFromToday</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Opening__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recruit</name>
        <label>Update Recruit</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_Applicant</targetReference>
        </connector>
        <inputReference>Get_Recruit</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recruit_Questions</name>
        <label>Update Recruit Questions</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recruit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recruit.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Applicant__c</field>
            <value>
                <elementReference>Get_Applicant.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Recruit_Question__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Record_Id_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
