force-app/main/default/flows/Recruit_Create_a_Recruit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_First_Stage</name>
        <label>Assign First Stage</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Demo_Scenario</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Demo_Stage</name>
        <label>Assign Last Demo Stage</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Done</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completion_Screen</targetReference>
        </connector>
    </assignments>
    <description>Creates a recruit using default settings, rather than using the Recruit Lead Form</description>
    <dynamicChoiceSets>
        <name>recChoiceDemoSetupRecords</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Starting_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruiting</stringValue>
            </value>
        </filters>
        <object>Demo_Setup__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Recruit - Create a Recruit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recruit - Create Recruit From Demo Setup Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Completion_Screen</name>
        <label>Completion Screen</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completion_Screen_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Create Recruit from Demo Setup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this flow to create a Recruit using the default settings</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Completion_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Completion_Screen_FSC</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Completion_Screen_DT</name>
            <fieldText>&lt;p&gt;Viola!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Completion_Screen_NextDT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Click &quot;Finish&quot; to Close.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Run_Demo_Reset_Autolaunch_Recruiting</targetReference>
        </connector>
        <fields>
            <name>Welcome_Screen_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Create Recruit from Demo Setup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Use this flow to create a Recruit using the default settings</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Welcome_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Welcome_Screen_FSC</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Welcome_Screen_DT</name>
            <fieldText>&lt;p&gt;This flow will create a new Recruit based upon the Default Settings in the Demo Setup Record. This will also run a reset on the Recruiting scenario to remove any previous Recruits for the scenario.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedDemoSetup</name>
            <choiceReferences>recChoiceDemoSetupRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Demo Setup</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Welcome_Screen_NextDT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;To proceed, click &quot;Next&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Done</name>
        <isActive>true</isActive>
        <label>Done!</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Select_Demo_Scenario</name>
        <isActive>true</isActive>
        <label>Select Demo Scenario</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_First_Stage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Demo_Reset_Autolaunch_Recruiting</name>
        <label>Run Demo Reset Autolaunch - Recruiting</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Run_Recruit_Autolaunch_Create_Recruit_From_Demo_Setup</targetReference>
        </connector>
        <flowName>Demo_Reset_Autolaunch</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>SelectedDemoSetup</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Recruit_Autolaunch_Create_Recruit_From_Demo_Setup</name>
        <label>Run Recruit Autolaunch - Create Recruit From Demo Setup</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Assign_Last_Demo_Stage</targetReference>
        </connector>
        <flowName>Recruit_Autolaunch_Create_Recruit_From_Demo_Setup</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>SelectedDemoSetup</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varQuestionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalQuestionScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
